@mixin abcom-gradient($colortop, $colorbottom){
  background: $colortop; /* Old browsers */
  background: -moz-linear-gradient(top, $colortop 0%, $colorbottom 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $colortop 0%,$colorbottom 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $colortop 0%,$colorbottom 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colortop', endColorstr='$colorbottom',GradientType=0 ); /* IE6-9 */
}