
$white: #ffffff;
$white-light: #eeeeee;

$gray-bg: #dddddd;
$gray-bg-active: #bbbbbb;
$gray-base: #555555;
$gray-base-active: #393939;
$gray-light: #7a7a7a;

$black: #111111;

$blue-light: #00aeef;
$blue-light-active: #0188ba;

$blue: #2e3192;
$blue-active: #22245f;

$red: #e5322d;
$red-active: #fe0000;

$yondu: #786658;