.auth{
	text-align: center;

	padding-top: 175px;

	.auth__brand{
		height: 60px;
	}

	.auth__separator{
		margin: 30px 0;
		border-top: 1px solid $gray-bg;
	}

	.auth__description{
		margin: 5px auto;
	}

	.auth__button{
		margin: 20px 0;
		text-align: center;

		select, .input-group, .abcom-btn{
			width: 200px;
		}

		.input-group{
			margin: auto;
		}
	}
}