.abcom-list{
	
	&__item{
		position: relative;
		margin-top: 10px;
		
		&__link {
			position: absolute;
			left: -36px;

			&, &--delete{
				color: $red;
				
				&:hover, &:active, &:focus, &.active{
					color: $red-active;
				}
			}

		}
	}


	&--mom{
		table{
			width: 100%;

			th{
				border-bottom: 1px solid $gray-bg;
			}

			th,td{
				padding: 15px;
			}

			td:last-child{
				text-align: center;
			}
		}
	}

}