.abcom-quicklinks{
    // -webkit-columns: 300px 3;
    // -moz-columns: 300px 3;
    // columns: 300px 3;
    text-align: left;
	
	&__item{

   		&, &:hover, &:active{
	      display: inline-block;
        width: 33%;
        padding: 10px;
        text-align: left;
        color: $gray-base;
        text-decoration: none;
        vertical-align: top;
   		}

		span{
   			font-weight: bold;
		    font-size: 16px;
    		margin-right: 10px;
		}
		
   		&:hover, &:active{
   			span{
   				color: $red;
   			}
   		}

	}
}