.abcom-title{
	position: relative;

	width: 100%;
	padding: 12px;
	margin-bottom: 15px;
	
	background-color: $gray-bg;

	&__main{
		color: $gray-base;
		// color: $red;
		text-transform: uppercase;
		font-weight:bold;
		margin-right: 5px;
	}

	&__sub{
		color: $gray-base;
	}

	.form-group{
		position: absolute;
		top: 2px;
		right: 2px;
	}

}