table.abcom-table{
	width: 100%;

	font-size: 12px;
	background-color: $white;

	thead > tr > th, tbody > tr > td{
		padding: 0 10px;
		height: 50px;
		border-bottom: 1px solid $gray-bg;

		/* &.is-status{
		} */
	}

	&.no-footer, tbody > tr:last-child > td{
		border-bottom: none;
	}

}