.main-content{
	width: 100%;

	// Height of the footer
	padding-bottom: 36px;

	&.has-side{
		@extend .clearfix;

		.main-content__side{
			position: absolute;
			top: 138px;
			bottom: 36px;
			left: 0;

			width: 76px;
			padding: 20px;

			margin-right: -76px;

			.side__nav{
				position:relative;

				&:after{
					content: attr(title);
				    position: absolute;
				    left: 44px;
				    top: 0px;

				    display: table-cell;
				    vertical-align: middle;
				    overflow: hidden;

				    height: 36px;
				    padding-top: 10px;
				    width: 0;
				    
				    line-height: 1.3;
				    font-size: 12px;
				    font-weight: bold;
				    text-align: left;
				    // color: $black;
				    color: $gray-light;

				    transition: width .15s;
				}
			}
	
			// This is a button
			&__expand{
				display: block;
				width: 24px;
				height: 24px;
				margin: 6px 6px 12px 6px;
				
				font-size: 16px;
				line-height: 24px;
				text-align: center;
				color: $black;
				outline: none;

			}

			&.expand{
				.side__nav{
					&:after{
						width: 130px;
						overflow: visible;
					}
				}
			}
		}

		.main-content__main{
			margin-left: 56px;

			transition: margin .15s;

			&.expand{
				margin-left: 180px;
			}
		}
	}

	&__main{
		padding: 20px;
	}
}