<h2>Listing</h2>
<p>Appears on some forms. Lists Endorsers or Approvers</p>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="form-group abcom-list">
			<label for="" class="col-sm-2 abcom-form">Endorsers</label>
			<div class="col-sm-10">
				<ol class="abcom-list__items">
					<li class="abcom-list__item">Juan Dela Cruz</li>
					<li class="abcom-list__item">Johann Cheese</li>
					<li class="abcom-list__item">Yvonne Strahovsky</li>
					<li class="abcom-list__item">Natalie Dormer</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<pre class="yondu__code"><code>&lt;div class=&quot;form-group abcom-list&quot;&gt;
  &lt;label for=&quot;&quot; class=&quot;col-sm-2 abcom-form&quot;&gt;Endorsers&lt;/label&gt;
  &lt;div class=&quot;col-sm-10&quot;&gt;
    &lt;ol class=&quot;abcom-list__items&quot;&gt;
      &lt;li class=&quot;abcom-list__item&quot;&gt;Juan Dela Cruz&lt;/li&gt;
      &lt;li class=&quot;abcom-list__item&quot;&gt;Johann Cheese&lt;/li&gt;
      &lt;li class=&quot;abcom-list__item&quot;&gt;Yvonne Strahovsky&lt;/li&gt;
      &lt;li class=&quot;abcom-list__item&quot;&gt;Natalie Dormer&lt;/li&gt;
    &lt;/ol&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h4>Listing with forms</h4>
<p>In Listing with forms, make sure that the <code>id</code> of the <code>select</code> element is the same as the <code>data-target</code> of the list <code>ol</code>.</p>
<p>Example:</p>
<pre class="yondu__code"><code>&lt;select multiple <b>id=&quot;select2&quot;</b> data-title=&quot;Endorser&quot; class=&quot;form-control abcom-list__dropdown abcom-form&quot; &gt;</code></pre>
<pre class="yondu__code"><code>&lt;ol class=&quot;abcom-list&quot; <b>data-parent=&quot;select2&quot;</b>&gt;</code></pre>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="form-group abcom-list">
			<label for="" class="col-sm-2 abcom-form">Endorsers</label>
			<div class="col-sm-10">
				<div class="input-group abcom-form__inputgroup">
					<select multiple id="select2" data-title="Endorser" class="form-control abcom-list__dropdown abcom-form" >
						<option value="1">Juan Dela Cruz</option>
						<option value="2">Johann Cheese</option>
						<option value="3">Yvonne Strahovsky</option>
						<option value="4">Natalie Dormer</option>
					</select>
					<div class="input-group-addon">
						<button type="button" class="btn abcom-btn abcom-btn--default abcom-list__add"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</div>
				<ol class="abcom-list__items" data-parent="select2"></ol>
			</div>
		</div>
	</div>
</div>

<pre class="yondu__code"><code>&lt;div class=&quot;form-group abcom-list&quot;&gt;
	&lt;label for=&quot;&quot; class=&quot;col-sm-2 abcom-form&quot;&gt;Endorsers&lt;/label&gt;
	&lt;div class=&quot;col-sm-10&quot;&gt;
		&lt;div class=&quot;input-group abcom-form__inputgroup&quot;&gt;
			&lt;select multiple id=&quot;select2&quot; data-title=&quot;Endorser&quot; class=&quot;form-control abcom-list__dropdown abcom-form&quot; &gt;
				&lt;option value=&quot;1&quot;&gt;Juan Dela Cruz&lt;/option&gt;
				&lt;option value=&quot;2&quot;&gt;Johann Cheese&lt;/option&gt;
				&lt;option value=&quot;3&quot;&gt;Yvonne Strahovsky&lt;/option&gt;
				&lt;option value=&quot;4&quot;&gt;Natalie Dormer&lt;/option&gt;
			&lt;/select&gt;
			&lt;div class=&quot;input-group-addon&quot;&gt;
				&lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default abcom-list__add&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-plus&quot;&gt;&lt;/span&gt;&lt;/button&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;ol class=&quot;abcom-list__items&quot; data-parent=&quot;select2&quot;&gt;&lt;/ol&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h4>Using Dates with Listing</h4>
<p>You can use Listing with Dates.</p>

<div class="panel panel-default">
	<div class="panel-body">

		<div class="form-group abcom-list--v3">
			<label for="" class="col-sm-1">Date</label>
			<div class="col-sm-4">
				<input type="text" data-name="date" class="abcom-list__date form-control abcom-form abcom-form__date abcom-form--full" placeholder="MM/DD/YYYY" />
			</div>
			<label for="form_typemom" class="col-sm-2">Type of Meeting</label>
			<div class="col-sm-5">
				<div class="input-group abcom-form__inputgroup">
					<select id="form_typemom" data-name="type" placeholder="Select Type" class="form-control abcom-form" >
						<option value="none" selected>Select Type</option>
						<option value="1">Juan Dela Cruz</option>
						<option value="2">Johann Cheese</option>
						<option value="3">Yvonne Strahovsky</option>
						<option value="4">Natalie Dormer</option>
					</select>
					<div class="input-group-addon">
						<button type="button" class="btn abcom-btn abcom-btn--default abcom-list__add"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<ol class="abcom-list__items" data-parent="abcom-list__select2date"></ol>
			</div>
			<input type="hidden" name="" data-name="hidden" class="abcom-list__input">
		</div>

	</div>
</div>

<pre class="yondu__code"><code>&lt;div class=&quot;form-group abcom-list--v3&quot;&gt;
	&lt;label for=&quot;&quot; class=&quot;col-sm-1&quot;&gt;Date&lt;/label&gt;
	&lt;div class=&quot;col-sm-4&quot;&gt;
		&lt;input type=&quot;text&quot; data-name=&quot;date&quot; class=&quot;abcom-list__date form-control abcom-form abcom-form__date abcom-form--full&quot; placeholder=&quot;MM/DD/YYYY&quot; /&gt;
	&lt;/div&gt;
	&lt;label for=&quot;form_typemom&quot; class=&quot;col-sm-2&quot;&gt;Type of Meeting&lt;/label&gt;
	&lt;div class=&quot;col-sm-5&quot;&gt;
		&lt;div class=&quot;input-group abcom-form__inputgroup&quot;&gt;
			&lt;select id=&quot;form_typemom&quot; data-name=&quot;type&quot; placeholder=&quot;Select Type&quot; class=&quot;form-control abcom-form&quot; &gt;
				&lt;option value=&quot;none&quot; selected&gt;Select Type&lt;/option&gt;
				&lt;option value=&quot;1&quot;&gt;Juan Dela Cruz&lt;/option&gt;
				&lt;option value=&quot;2&quot;&gt;Johann Cheese&lt;/option&gt;
				&lt;option value=&quot;3&quot;&gt;Yvonne Strahovsky&lt;/option&gt;
				&lt;option value=&quot;4&quot;&gt;Natalie Dormer&lt;/option&gt;
			&lt;/select&gt;
			&lt;div class=&quot;input-group-addon&quot;&gt;
				&lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default abcom-list__add&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-plus&quot;&gt;&lt;/span&gt;&lt;/button&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;col-sm-12&quot;&gt;
		&lt;ol class=&quot;abcom-list__items&quot; data-parent=&quot;abcom-list__select2date&quot;&gt;&lt;/ol&gt;
	&lt;/div&gt;
	&lt;input type=&quot;hidden&quot; name=&quot;&quot; data-name=&quot;hidden&quot; class=&quot;abcom-list__input&quot;&gt;
&lt;/div&gt;</code></pre>



<h4>Using in Directors / Officers with Designation</h4>
<p>Here is another version you can use.</p>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="form-group abcom-list--v2">
			<label for="" class="col-sm-2 abcom-form">Directors</label>
			<div class="col-sm-4">
				<input type="text" data-name="name" class="form-control abcom-form" placeholder="Type name here">
			</div>
			<div class="col-sm-5">
				<div class="input-group abcom-form__inputgroup">
					<input type="text" data-name="designation" class="form-control abcom-form" placeholder="Type Designation here">
					<div class="input-group-addon">
						<button type="button" class="btn abcom-btn abcom-btn--default abcom-list__add"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</div>
			</div>
			<div class="col-sm-offset-2 col-sm-10">
				<ol class="abcom-list__items" data-parent="select2"></ol>
			</div>
			<input type="hidden" name="" data-name="hidden" class="abcom-list__input">
		</div>
	</div>
</div>

<p>Here is the markup for the customized listing.</p>
<pre class="yondu__code"><code>&lt;div class=&quot;form-group abcom-list--v2&quot;&gt;
	&lt;label for=&quot;&quot; class=&quot;col-sm-2 abcom-form&quot;&gt;Directors&lt;/label&gt;
	&lt;div class=&quot;col-sm-4&quot;&gt;
		&lt;input type=&quot;text&quot; data-name=&quot;name&quot; class=&quot;form-control abcom-form&quot; placeholder=&quot;Type name here&quot;&gt;
	&lt;/div&gt;
	&lt;div class=&quot;col-sm-5&quot;&gt;
		&lt;div class=&quot;input-group abcom-form__inputgroup&quot;&gt;
			&lt;input type=&quot;text&quot; data-name=&quot;designation&quot; class=&quot;form-control abcom-form&quot; placeholder=&quot;Type Designation here&quot;&gt;
			&lt;div class=&quot;input-group-addon&quot;&gt;
				&lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default abcom-list__add&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-plus&quot;&gt;&lt;/span&gt;&lt;/button&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;col-sm-offset-2 col-sm-10&quot;&gt;
		&lt;ol class=&quot;abcom-list__items&quot; data-parent=&quot;select2&quot;&gt;&lt;/ol&gt;
	&lt;/div&gt;
	&lt;input type=&quot;hidden&quot; name=&quot;&quot; data-name=&quot;hidden&quot; class=&quot;abcom-list__input&quot;&gt;
&lt;/div&gt;</code></pre>



<h4>Listing in MoM Template Creation</h4>
<p>Here is another version you can use.</p>

<div class="panel panel-default">
	<div class="panel-body">
		
		<form action="" class="form-horizontal abcom-list--mom">
          <div class="form-group">
            <label for="modal_form_company" class="col-sm-4 abcom-container--left">Document Name</label>
            <div class="col-sm-8">
              <input type="text" name="" id="modal_form_company" class="abcom-form abcom-form--full abcom-form--hasmargin form-control" placeholder="Type here">
            </div>
          </div>

          <div class="form-group">
          	<table>
          		<thead>
          			<tr>
	          			<th>Associated Service Type</th>
	          			<th>Category</th>
	          			<th>Sub Category A</th>
	          			<th>Sub Category B</th>
	          			<th>Action</th>
	          		</tr>
          		</thead>
          		<tbody class="abcom-list__items">
          			<tr class="abcom-list__item--fix">
          				<td>
          					<select name="" id="modal_form_service" data-name="stype" data-required="true" class="selectpicker abcom-form abcom-form--full form-control">
				                <option value="none" selected>Select Service Type</option>
				                <option value="1">Type A</option>
				                <option value="2">Type B</option>
				            </select>
				          </td>
				          <td>
				          	<select name="" id="modal_form_service" data-name="cat" class="selectpicker abcom-form abcom-form--full form-control">
				                <option value="none" selected>Select Category</option>
				                <option value="3">Category A</option>
				                <option value="4">Category B</option>
				            </select>
				          </td>
				          <td>
				          	<select name="" id="modal_form_service" data-name="scata" class="selectpicker abcom-form abcom-form--full form-control">
				                <option value="none" selected>Select Sub Category A</option>
				                <option value="5">Sub-Category A - 1</option>
				                <option value="6">Sub-Category A - 2</option>
				            </select>
				          </td>
				          <td>
				          	<select name="" id="modal_form_service" data-name="scatb" class="selectpicker abcom-form abcom-form--full form-control">
				                <option value="none" selected>Select Sub Category B</option>
				                <option value="7">Sub-Category B - 1</option>
				                <option value="8">Sub-Category B - 2</option>
				            </select>
				          </td>
				          <td>
				          	<button type="button" class="btn abcom-btn abcom-btn--default abcom-list__add"><span class="glyphicon glyphicon-plus"></span></button>
				          </td>
          			</tr>
          		</tbody>
          	</table>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <input type="submit" class="btn abcom-btn abcom-btn--action abcom-form--full" value="Submit">
            </div>
          </div>
          <input type="hidden" name="" data-name="hidden" class="abcom-list__input">
        </form>

	</div>
</div>

<pre class="yondu__code"><code>&lt;form action=&quot;&quot; class=&quot;form-horizontal abcom-list--mom&quot;&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;label for=&quot;modal_form_company&quot; class=&quot;col-sm-4 abcom-container--left&quot;&gt;Document Name&lt;/label&gt;
    &lt;div class=&quot;col-sm-8&quot;&gt;
      &lt;input type=&quot;text&quot; name=&quot;&quot; id=&quot;modal_form_company&quot; class=&quot;abcom-form abcom-form--full abcom-form--hasmargin form-control&quot; placeholder=&quot;Type here&quot;&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class=&quot;form-group&quot;&gt;
  	&lt;table&gt;
  		&lt;thead&gt;
  			&lt;tr&gt;
      			&lt;th&gt;Associated Service Type&lt;/th&gt;
      			&lt;th&gt;Category&lt;/th&gt;
      			&lt;th&gt;Sub Category A&lt;/th&gt;
      			&lt;th&gt;Sub Category B&lt;/th&gt;
      			&lt;th&gt;Action&lt;/th&gt;
      		&lt;/tr&gt;
  		&lt;/thead&gt;
  		&lt;tbody class=&quot;abcom-list__items&quot;&gt;
  			&lt;tr class=&quot;abcom-list__item--fix&quot;&gt;
  				&lt;td&gt;
  					&lt;select name=&quot;&quot; id=&quot;modal_form_service&quot; data-name=&quot;stype&quot; data-required=&quot;true&quot; class=&quot;selectpicker abcom-form abcom-form--full form-control&quot;&gt;
		                &lt;option value=&quot;none&quot; selected&gt;Select Service Type&lt;/option&gt;
		                &lt;option value=&quot;1&quot;&gt;Type A&lt;/option&gt;
		                &lt;option value=&quot;2&quot;&gt;Type B&lt;/option&gt;
		            &lt;/select&gt;
		          &lt;/td&gt;
		          &lt;td&gt;
		          	&lt;select name=&quot;&quot; id=&quot;modal_form_service&quot; data-name=&quot;cat&quot; class=&quot;selectpicker abcom-form abcom-form--full form-control&quot;&gt;
		                &lt;option value=&quot;none&quot; selected&gt;Select Category&lt;/option&gt;
		                &lt;option value=&quot;3&quot;&gt;Category A&lt;/option&gt;
		                &lt;option value=&quot;4&quot;&gt;Category B&lt;/option&gt;
		            &lt;/select&gt;
		          &lt;/td&gt;
		          &lt;td&gt;
		          	&lt;select name=&quot;&quot; id=&quot;modal_form_service&quot; data-name=&quot;scata&quot; class=&quot;selectpicker abcom-form abcom-form--full form-control&quot;&gt;
		                &lt;option value=&quot;none&quot; selected&gt;Select Sub Category A&lt;/option&gt;
		                &lt;option value=&quot;5&quot;&gt;Sub-Category A - 1&lt;/option&gt;
		                &lt;option value=&quot;6&quot;&gt;Sub-Category A - 2&lt;/option&gt;
		            &lt;/select&gt;
		          &lt;/td&gt;
		          &lt;td&gt;
		          	&lt;select name=&quot;&quot; id=&quot;modal_form_service&quot; data-name=&quot;scatb&quot; class=&quot;selectpicker abcom-form abcom-form--full form-control&quot;&gt;
		                &lt;option value=&quot;none&quot; selected&gt;Select Sub Category B&lt;/option&gt;
		                &lt;option value=&quot;7&quot;&gt;Sub-Category B - 1&lt;/option&gt;
		                &lt;option value=&quot;8&quot;&gt;Sub-Category B - 2&lt;/option&gt;
		            &lt;/select&gt;
		          &lt;/td&gt;
		          &lt;td&gt;
		          	&lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default abcom-list__add&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-plus&quot;&gt;&lt;/span&gt;&lt;/button&gt;
		          &lt;/td&gt;
  			&lt;/tr&gt;
  		&lt;/tbody&gt;
  	&lt;/table&gt;
  &lt;/div&gt;

  &lt;div class=&quot;form-group&quot;&gt;
    &lt;div class=&quot;col-sm-12&quot;&gt;
      &lt;input type=&quot;submit&quot; class=&quot;btn abcom-btn abcom-btn--action abcom-form--full&quot; value=&quot;Submit&quot;&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;input type=&quot;hidden&quot; name=&quot;&quot; data-name=&quot;hidden&quot; class=&quot;abcom-list__input&quot;&gt;
&lt;/form&gt;</code></pre>