<h2>QuickLinks</h2>
<hr>
<div class="panel panel-default">
	<div class="abcom-quicklinks">
		<a href="javascript:;" class="abcom-quicklinks__item"><span>01</span>Yes yes yes</a>
		<a href="javascript:;" class="abcom-quicklinks__item"><span>01</span>Yes yes yes</a>
		<a href="javascript:;" class="abcom-quicklinks__item"><span>01</span>Yes yes yes</a>
		<a href="javascript:;" class="abcom-quicklinks__item"><span>01</span>Yes yes yes</a>
		<a href="javascript:;" class="abcom-quicklinks__item"><span>01</span>Yes yes yes</a>
		<a href="javascript:;" class="abcom-quicklinks__item"><span>01</span>Yes yes yes</a>
		<a href="javascript:;" class="abcom-quicklinks__item"><span>01</span>Yes yes yes</a>
		<a href="javascript:;" class="abcom-quicklinks__item"><span>01</span>Yes yes yes</a>
		<a href="javascript:;" class="abcom-quicklinks__item"><span>01</span>Yes yes yes</a>
	</div>
</div>