<h2>Section Title</h2>
<p>Displays the title of the section. The section title occupies the width of its parent container.</p>
<div class="panel panel-default">
	<div class="panel-body">
		<!-- insert section title component here -->
		<div class="abcom abcom-title">
			<span class="abcom-title__main">Request Trackers</span>
			<span class="abcom-title__sub">Status of all Requests</span>
		</div>
		<p>Here is the code sample for the Title Section:</p>
<pre class="yondu__code"><code>&lt;div class=&quot;abcom-title&quot;&gt;
  &lt;span class=&quot;abcom-title__main&quot;&gt;Request Trackers&lt;/span&gt;
  &lt;span class=&quot;abcom-title__sub&quot;&gt;Status of all Requests&lt;/span&gt;
&lt;/div&gt;
</code></pre>
	</div>
</div>