<h2>Color Picker</h2>
<p>Color picker uses a plugin called spectrum.</p>
<div class="panel panel-default">
	<div class="panel-body">
		
	</div>
</div>

<p>This are used especially inside a table data whenever a request page is concerned.</p>
<pre class="yondu__code"><code></code></pre>