<h2>Listing</h2>
<p>Appears on some forms. Lists Endorsers or Approvers</p>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="form-group abcom-list">
			<label for="" class="col-sm-2 abcom-form">Endorsers</label>
			<div class="col-sm-10">
				<ol class="abcom-list__items">
					<li class="abcom-list__item">Juan Dela Cruz</li>
					<li class="abcom-list__item">Johann Cheese</li>
					<li class="abcom-list__item">Yvonne Strahovsky</li>
					<li class="abcom-list__item">Natalie Dormer</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<pre class="yondu__code"><code>&lt;div class=&quot;form-group abcom-list&quot;&gt;
  &lt;label for=&quot;&quot; class=&quot;col-sm-2 abcom-form&quot;&gt;Endorsers&lt;/label&gt;
  &lt;div class=&quot;col-sm-10&quot;&gt;
    &lt;ol class=&quot;abcom-list__items&quot;&gt;
      &lt;li class=&quot;abcom-list__item&quot;&gt;Juan Dela Cruz&lt;/li&gt;
      &lt;li class=&quot;abcom-list__item&quot;&gt;Johann Cheese&lt;/li&gt;
      &lt;li class=&quot;abcom-list__item&quot;&gt;Yvonne Strahovsky&lt;/li&gt;
      &lt;li class=&quot;abcom-list__item&quot;&gt;Natalie Dormer&lt;/li&gt;
    &lt;/ol&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h4>Listing with forms</h4>
<p>In Listing with forms, make sure that the <code>id</code> of the <code>select</code> element is the same as the <code>data-target</code> of the list <code>ol</code>.</p>
<p>Example:</p>
<pre class="yondu__code"><code>&lt;select multiple <b>id=&quot;select2&quot;</b> data-title=&quot;Endorser&quot; class=&quot;form-control abcom-list__dropdown abcom-form&quot; &gt;</code></pre>
<pre class="yondu__code"><code>&lt;ol class=&quot;abcom-list&quot; <b>data-parent=&quot;select2&quot;</b>&gt;</code></pre>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="form-group abcom-list">
			<label for="" class="col-sm-2 abcom-form">Endorsers</label>
			<div class="col-sm-10">
				<div class="input-group abcom-form__inputgroup">
					<select multiple id="select2" data-title="Endorser" class="form-control abcom-list__dropdown abcom-form" >
						<option>Juan Dela Cruz</option>
						<option>Johann Cheese</option>
						<option>Yvonne Strahovsky</option>
						<option>Natalie Dormer</option>
					</select>
					<div class="input-group-addon">
						<button type="button" class="btn abcom-btn abcom-btn--default abcom-list__add"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</div>
				<ol class="abcom-list__items" data-parent="select2"></ol>
			</div>
		</div>
	</div>
</div>

<pre class="yondu__code"><code>&lt;div class=&quot;form-group abcom-list&quot;&gt;
  &lt;label for=&quot;&quot; class=&quot;col-sm-2 abcom-form&quot;&gt;Endorsers&lt;/label&gt;
  &lt;div class=&quot;col-sm-10&quot;&gt;
    &lt;div class=&quot;input-group abcom-form__inputgroup&quot;&gt;
      &lt;select multiple id=&quot;select2&quot; data-title=&quot;Endorser&quot; class=&quot;form-control abcom-list__dropdown abcom-form&quot; &gt;
        &lt;option&gt;Juan Dela Cruz&lt;/option&gt;
        &lt;option&gt;Johann Cheese&lt;/option&gt;
        &lt;option&gt;Yvonne Strahovsky&lt;/option&gt;
        &lt;option&gt;Natalie Dormer&lt;/option&gt;
      &lt;/select&gt;
      &lt;div class=&quot;input-group-addon&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default abcom-list__add&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-plus&quot;&gt;&lt;/span&gt;&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;ol class=&quot;abcom-list__items&quot; data-parent=&quot;select2&quot;&gt;&lt;/ol&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h4>Using Dates with Listing</h4>
<p>You can use Listing with Dates.</p>

<div class="panel panel-default">
	<div class="panel-body">

		<div class="form-group abcom-list">
			<label for="" class="col-sm-1">Date</label>
			<div class="col-sm-4">
				<input type="text" class="abcom-list__date form-control abcom-form abcom-form__date abcom-form--full" placeholder="MM/DD/YYYY" />
			</div>
			<label for="" class="col-sm-2">Type of Meeting</label>
			<div class="col-sm-5">
				<div class="input-group abcom-form__inputgroup">
					<select multiple id="abcom-list__select2date" data-title="Type of Meeting" class="form-control abcom-list__dropdown abcom-form" >
						<option>Juan Dela Cruz</option>
						<option>Johann Cheese</option>
						<option>Yvonne Strahovsky</option>
						<option>Natalie Dormer</option>
					</select>
					<div class="input-group-addon">
						<button type="button" class="btn abcom-btn abcom-btn--default abcom-list__add"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<ol class="abcom-list__items" data-parent="abcom-list__select2date"></ol>
			</div>
		</div>

	</div>
</div>

<pre class="yondu__code"><code>&lt;div class=&quot;form-group abcom-list&quot;&gt;
  &lt;label for=&quot;&quot; class=&quot;col-sm-1&quot;&gt;Date&lt;/label&gt;
  &lt;div class=&quot;col-sm-4&quot;&gt;
    &lt;input type=&quot;text&quot; class=&quot;abcom-list__date form-control abcom-form abcom-form__date abcom-form--full&quot; placeholder=&quot;MM/DD/YYYY&quot; /&gt;
  &lt;/div&gt;
  &lt;label for=&quot;&quot; class=&quot;col-sm-2&quot;&gt;Type of Meeting&lt;/label&gt;
  &lt;div class=&quot;col-sm-5&quot;&gt;
    &lt;div class=&quot;input-group abcom-form__inputgroup&quot;&gt;
      &lt;select multiple id=&quot;abcom-list__select2date&quot; data-title=&quot;Type of Meeting&quot; class=&quot;form-control abcom-list__dropdown abcom-form&quot; &gt;
        &lt;option&gt;Juan Dela Cruz&lt;/option&gt;
        &lt;option&gt;Johann Cheese&lt;/option&gt;
        &lt;option&gt;Yvonne Strahovsky&lt;/option&gt;
        &lt;option&gt;Natalie Dormer&lt;/option&gt;
      &lt;/select&gt;
      &lt;div class=&quot;input-group-addon&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default abcom-list__add&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-plus&quot;&gt;&lt;/span&gt;&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-sm-12&quot;&gt;
    &lt;ol class=&quot;abcom-list__items&quot; data-parent=&quot;abcom-list__select2date&quot;&gt;&lt;/ol&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>