<h2>Container</h2>
<p>Insert a container and modify alignments using this component</p>
<div class="panel panel-default">
	<div class="panel-body">
<pre class="yondu__code"><code>&lt;div class=&quot;abcom-container&quot;&gt;&lt;/div&gt;</code></pre>
		<p>To provide alignment, use <code>abcom-container--left</code>, <code>abcom-container--center</code> or <code>abcom-container--right</code>:</p>
<pre class="yondu__code"><code>&lt;div class=&quot;abcom-container abcom-container--center&quot;&gt;&lt;/div&gt;</code></pre>
	</div>
</div>