<h2>Buttons</h2>
<hr>
<h3>Button Tags</h3>
<p>You can create buttons under Aboitiz Legal website / cms. Below are the sample buttons. Aboitiz Legal buttons utilizes features from bootstrap, so you can actually create a button by giving it a class like <code>btn</code>.</p>
<div class="panel panel-default">
	<div id="abcom-buttons" class="panel-body">
		<p>
			<button type="button" class="btn abcom-btn abcom-btn--default">Button</button>
			<a href="javascript:;" role="button" class="btn abcom-btn abcom-btn--default">Button</a>
			<span role="button" class="btn abcom-btn abcom-btn--default">Button</span>
		</p>
		<p>Here is the sample code for a button using <code>&lt;button&gt;</code> element.</p> 
		<pre class="yondu__code"><code>&lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default&quot;&gt;Button&lt;/button&gt;</code></pre>
		<p>You can also use <code>&lt;a&gt;</code> element like this.</p> 
		<pre class="yondu__code"><code>&lt;a href=&quot;javascript:;&quot; role=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default&quot;&gt;Button&lt;/a&gt;</code></pre>
		<p>or use other element like <code>&lt;span&gt;</code>.</p> 
		<pre class="yondu__code"><code>&lt;span role=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default&quot;&gt;Button&lt;/span&gt;</code></pre>
	</div>
</div>

<hr>
<h3>Colors</h3>
<p>Use any of the available button classes to quickly create a styled button.</p>
<div class="panel panel-default">
	<div id="abcom-buttons" class="panel-body">
		<p>
			<button type="button" class="btn abcom-btn abcom-btn--default">Button</button>
			<button type="button" class="btn abcom-btn abcom-btn--action">Button</button>
			<button type="button" class="btn abcom-btn abcom-btn--cool">Button</button>
			<button type="button" class="btn abcom-btn abcom-btn--cooler">Button</button>
		</p>
		<p>Here is the default <code>&lt;button&gt;</code> element.</p> 
		<pre class="yondu__code"><code>&lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default&quot;&gt;Button&lt;/button&gt;</code></pre>
		<p>here is the action type <code>&lt;button&gt;</code> element.</p> 
		<pre class="yondu__code"><code>&lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--action&quot;&gt;Button&lt;/button&gt;</code></pre>
		<p>here are the accent type <code>&lt;button&gt;</code> element.</p> 
		<pre class="yondu__code"><code>&lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--cool&quot;&gt;Button&lt;/button&gt;</code></pre>
		<pre class="yondu__code"><code>&lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--cooler&quot;&gt;Button&lt;/button&gt;</code></pre>
	</div>
</div>

<hr>
<h3>Rounded Corners</h3>
<p>You can also style the button if it has rounded corners.</p>
<div class="panel panel-default">
	<div id="abcom-buttons" class="panel-body">
		<p>
			<button type="button" class="btn abcom-btn abcom-btn--default abcom-btn--rounded">Button</button>
			<button type="button" class="btn abcom-btn abcom-btn--action abcom-btn--rounded" >Button</button>
			<button type="button" class="btn abcom-btn abcom-btn--cool abcom-btn--rounded">Button</button>
			<button type="button" class="btn abcom-btn abcom-btn--cooler abcom-btn--rounded">Button</button>
		</p>
		<p>Here is the code for using rounded <code>&lt;button&gt;</code> element.</p> 
		<pre class="yondu__code"><code>&lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default abcom-btn--rounded&quot;&gt;Button&lt;/button&gt;</code></pre>
	</div>
</div>

<hr>
<h3>Button with Icons</h3>
<p>Buttons can have icons preceding its text.</p>
<div class="panel panel-default">
	<div id="abcom-buttons" class="panel-body">
		<p>
			<button type="button" class="btn abcom-btn abcom-btn--default"><i class="fa fa-home"></i>Button</button>
		</p>
		<p>Just add a font awesome icon. For example: <code>&lt;i class=&quot;fa fa-home&quot;&gt;&lt;/i&gt;</code>.</p> 
		<pre class="yondu__code"><code>&lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default&quot;&gt;&lt;i class=&quot;fa fa-home&quot;&gt;&lt;/i&gt;Button&lt;/button&gt;</code></pre>
	</div>
</div>