<h3>Setup About Us</h3>
<p>Acces level: <b>All</b></p>
<div class="panel panel-default">
	<div class="panel-body">

		<div class="abcom-title">
		  <span class="abcom-title__main">Description</span>
		  <span class="abcom-title__sub">Brief description of the company</span>
		  <div class="form-group">
		  	<button type="button" class="btn abcom-btn abcom-btn--default">Edit</button>
		  </div>
		</div>

		<p class="abcom__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

		<div class="abcom-title">
		  <span class="abcom-title__main">Members</span>
		  <span class="abcom-title__sub">Select users to view it from the requestor's page</span>
		</div>
		
		<div class="abcom-movables">
			<div class="abcom-movables__add">
				<a href="#" class="abcom-movables__add__btn">
					<div><i class="fa fa-plus"></i></div>
					<div>Add Member</div>
				</a>
				<div class="abcom-movables__add__select">
					<select name="" id="" class="" style="width: 100%" multiple>
						<optgroup label="Directors">
							<option data-id="1" data-sort="1" data-photo="assets/images/yis.jpg" data-name="Juan Dela Cruz" data-position="Floor Director" value="1" selected>Juan Dela Cruz</option>
							<option data-id="2" data-photo="assets/images/yis.jpg" data-name="Natalie Dormer" data-position="Director" value="2">Natalie Dormer</option>
							<option data-id="3" data-sort="2" data-photo="assets/images/yis.jpg" data-name="Yvonne Strahovsky" data-position="Executive Director" value="3" selected>Yvonne Strahovsky</option>
							<option data-id="4" data-photo="assets/images/yis.jpg" data-name="Ember" data-position="Director" value="4">Ember</option>
						</optgroup>
					</select>
				</div>
			</div>
		</div>

	</div>
</div>

<p>Insert this code inside the <code>main-content__main</code> section.</p>

<pre class="yondu__code"><code>&lt;div class=&quot;abcom-title&quot;&gt;
  &lt;span class=&quot;abcom-title__main&quot;&gt;Description&lt;/span&gt;
  &lt;span class=&quot;abcom-title__sub&quot;&gt;Brief description of the company&lt;/span&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default&quot;&gt;Edit&lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;p class=&quot;abcom__text&quot;&gt;Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.&lt;/p&gt;

&lt;div class=&quot;abcom-title&quot;&gt;
  &lt;span class=&quot;abcom-title__main&quot;&gt;Members&lt;/span&gt;
  &lt;span class=&quot;abcom-title__sub&quot;&gt;Select users to view it from the requestor's page&lt;/span&gt;
&lt;/div&gt;

&lt;div class=&quot;abcom-movables&quot;&gt;
  &lt;div class=&quot;abcom-movables__add&quot;&gt;
    &lt;a href=&quot;#&quot; class=&quot;abcom-movables__add__btn&quot;&gt;
      &lt;div&gt;&lt;i class=&quot;fa fa-plus&quot;&gt;&lt;/i&gt;&lt;/div&gt;
      &lt;div&gt;Add Member&lt;/div&gt;
    &lt;/a&gt;
    &lt;div class=&quot;abcom-movables__add__select&quot;&gt;
      &lt;select name=&quot;&quot; id=&quot;&quot; class=&quot;&quot; style=&quot;width: 100%&quot; multiple&gt;
        &lt;optgroup label=&quot;Directors&quot;&gt;
          &lt;option data-id=&quot;1&quot; data-photo=&quot;assets/images/yis.jpg&quot; data-name=&quot;Juan Dela Cruz&quot; data-position=&quot;Floor Director&quot; value=&quot;1&quot;&gt;Juan Dela Cruz&lt;/option&gt;
          &lt;option data-id=&quot;2&quot; data-photo=&quot;assets/images/yis.jpg&quot; data-name=&quot;Natalie Dormer&quot; data-position=&quot;Director&quot; value=&quot;2&quot;&gt;Natalie Dormer&lt;/option&gt;
          &lt;option data-id=&quot;3&quot; data-photo=&quot;assets/images/yis.jpg&quot; data-name=&quot;Yvonne Strahovsky&quot; data-position=&quot;Executive Director&quot; value=&quot;3&quot;&gt;Yvonne Strahovsky&lt;/option&gt;
          &lt;option data-id=&quot;4&quot; data-photo=&quot;assets/images/yis.jpg&quot; data-name=&quot;Ember&quot; data-position=&quot;Director&quot; value=&quot;4&quot;&gt;Ember&lt;/option&gt;
        &lt;/optgroup&gt;
      &lt;/select&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>

<a href="exp-cms-setup-about.html" target="_blank" class="btn abcom-btn abcom-btn--cool">View About Us Page</a>