<h3>Request Status Side Panel</h3>
<div class="panel panel-default">
	<div class="panel-body">
		<section class="main-content__side side">
	        <a href="#" class="side__nav" title="Services"><i class="fa fa-cog"></i></a>
	        <a href="#" class="side__nav active" title="Requests Status"><i class="fa fa-flag"></i></a>
	        <a href="#" class="side__nav" title="Workspace"><i class="fa fa-briefcase"></i></a>
	        <a href="#" class="side__nav" title="Documents"><i class="fa fa-file"></i></a>
	        <a href="#" class="side__nav" title="Survey Results"><i class="fa fa-list-ul"></i></a>
	        <a href="#" class="side__nav" title="User Profile"><i class="fa fa-users"></i></a>
	        <a href="#" class="side__nav" title="Company Profile"><i class="fa fa-building"></i></a>
	    </section>
	</div>
</div>
<p>Replace the html inside the <code>main-content__side</code> with:</p>
<pre class="yondu__code"><code>&lt;a href=&quot;#&quot; class=&quot;side__nav&quot; title=&quot;Services&quot;&gt;&lt;i class=&quot;fa fa-cog&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;side__nav active&quot; title=&quot;Requests Status&quot;&gt;&lt;i class=&quot;fa fa-flag&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;side__nav&quot; title=&quot;Workspace&quot;&gt;&lt;i class=&quot;fa fa-briefcase&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;side__nav&quot; title=&quot;Documents&quot;&gt;&lt;i class=&quot;fa fa-file&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;side__nav&quot; title=&quot;Survey Results&quot;&gt;&lt;i class=&quot;fa fa-list-ul&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;side__nav&quot; title=&quot;User Profile&quot;&gt;&lt;i class=&quot;fa fa-users&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;side__nav&quot; title=&quot;Company Profile&quot;&gt;&lt;i class=&quot;fa fa-building&quot;&gt;&lt;/i&gt;&lt;/a&gt;</code></pre>