<h3>Requestor About Us</h3>
<p>Acces level: <b>Requestor</b></p>
<div class="panel panel-default">
	<div class="panel-body">

		<div class="abcom-title">
		  <span class="abcom-title__main">Members</span>
		  <span class="abcom-title__sub">Select users to view it from the requestor's page</span>
		</div>
		
		<div class="abcom-movables">
			<div class="abcom-movables__add">
				<a href="#" class="abcom-movables__add__btn">
					<div><i class="fa fa-plus"></i></div>
					<div>Add Member</div>
				</a>
				<div class="abcom-movables__add__select">
					<select name="" id="" class="" style="width: 100%" multiple>
						<optgroup label="Directors">
							<option data-id="1" data-sort="1" data-photo="assets/images/yis.jpg" data-name="Juan Dela Cruz" data-position="Floor Director" value="1" selected>Juan Dela Cruz</option>
							<option data-id="2" data-photo="assets/images/yis.jpg" data-name="Natalie Dormer" data-position="Director" value="2">Natalie Dormer</option>
							<option data-id="3" data-sort="2" data-photo="assets/images/yis.jpg" data-name="Yvonne Strahovsky" data-position="Executive Director" value="3" selected>Yvonne Strahovsky</option>
							<option data-id="4" data-photo="assets/images/yis.jpg" data-name="Ember" data-position="Director" value="4">Ember</option>
						</optgroup>
					</select>
				</div>
			</div>
		</div>

	</div>
</div>

<p>Insert this code inside the <code>main-content__main</code> section.</p>

<pre class="yondu__code"><code></code></pre>

<a href="exp-cms-setup-about.html" target="_blank" class="btn abcom-btn abcom-btn--cool">View About Us Page</a>