<h3>Reports Summary of Directors &amp; Officers Side Panel</h3>
<p>Acces level: <b>All</b></p>
<div class="panel panel-default">
	<div class="panel-body">
		<section class="main-content__side side">
	        <a href="#" class="side__nav" title="Audit Trail"><i class="fa fa-bar-chart-o"></i></a>
	        <a href="#" class="side__nav" title="Summary of Requests"><i class="fa fa-flag"></i></a>
	        <a href="#" class="side__nav" title="Summary of Companies"><i class="fa fa-building"></i></a>
	        <a href="#" class="side__nav active" title="Summary of Directors &amp; Officers"><i class="fa fa-users"></i></a>
	    </section>
	</div>
</div>
<p>Replace the html inside the <code>main-content__side</code> with:</p>
<pre class="yondu__code"><code>&lt;a href=&quot;#&quot; class=&quot;side__nav&quot; title=&quot;Audit Trail&quot;&gt;&lt;i class=&quot;fa fa-bar-chart-o&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;side__nav&quot; title=&quot;Summary of Requests&quot;&gt;&lt;i class=&quot;fa fa-flag&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;side__nav&quot; title=&quot;Summary of Companies&quot;&gt;&lt;i class=&quot;fa fa-building&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;side__nav active&quot; title=&quot;Summary of Directors &amp; Officers&quot;&gt;&lt;i class=&quot;fa fa-users&quot;&gt;&lt;/i&gt;&lt;/a&gt;</code></pre>