<h3>Email Message Templates Side Panel</h3>
<div class="panel panel-default">
	<div class="panel-body">
		<section class="main-content__side side">
	        <a href="#" class="side__nav" title="Minutes of the Meeting Template"><i class="fa fa-list-alt"></i></a>
	        <a href="#" class="side__nav" title="Forms Template"><i class="fa fa-file"></i></a>
	        <a href="#" class="side__nav" title="Survey Template"><i class="fa fa-list-ul"></i></a>
	        <a href="#" class="side__nav active" title="Email Messages Template"><i class="fa fa-envelope"></i></a>
	    </section>
	</div>
</div>
<p>Replace the html inside the <code>main-content__side</code> with:</p>
<pre class="yondu__code"><code>&lt;a href=&quot;#&quot; class=&quot;side__nav&quot; title=&quot;Minutes of the Meeting Template&quot;&gt;&lt;i class=&quot;fa fa-list-alt&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;side__nav&quot; title=&quot;Forms Template&quot;&gt;&lt;i class=&quot;fa fa-file&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;side__nav&quot; title=&quot;Survey Template&quot;&gt;&lt;i class=&quot;fa fa-list-ul&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;side__nav active&quot; title=&quot;Email Messages Template&quot;&gt;&lt;i class=&quot;fa fa-envelope&quot;&gt;&lt;/i&gt;&lt;/a&gt;</code></pre>