<h3>Setup Holiday Side Panel</h3>
<div class="panel panel-default">
	<div class="panel-body">
		<section class="main-content__side side">
	        <a href="#" class="side__nav" title="About Us"><i class="fa fa-info"></i></a>
	        <a href="#" class="side__nav" title="Contact Us"><i class="fa fa-quote-left"></i></a>
	        <a href="#" class="side__nav active" title="Holidays"><i class="fa fa-bell"></i></a>
	        <a href="#" class="side__nav" title="Access Rights"><i class="fa fa-key"></i></a>
	    </section>
	</div>
</div>
<p>Replace the html inside the <code>main-content__side</code> with:</p>
<pre class="yondu__code"><code>&lt;a href=&quot;#&quot; class=&quot;side__nav&quot; title=&quot;About Us&quot;&gt;&lt;i class=&quot;fa fa-info&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;side__nav&quot; title=&quot;Contact Us&quot;&gt;&lt;i class=&quot;fa fa-quote-left&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;side__nav active&quot; title=&quot;Holidays&quot;&gt;&lt;i class=&quot;fa fa-bell&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;side__nav&quot; title=&quot;Access Rights&quot;&gt;&lt;i class=&quot;fa fa-key&quot;&gt;&lt;/i&gt;&lt;/a&gt;</code></pre>