<h3>Requestor About Us</h3>
<p>Acces level: <b>Requestor</b></p>
<div class="panel panel-default">
	<div class="panel-body">

		<div class="abcom-title">
		  <span class="abcom-title__main">Members</span>
		  <span class="abcom-title__sub">Select users to view it from the requestor's page</span>
		</div>

		<div class="abcom-members">
			<div class="abcom-members__member">
				<img class="abcom-members__member__image" src="" alt="">
				<h3 class="abcom-members__member__name">Catherine R. Atay</h3>
				<p class="abcom-members__member__position">Assistant Vice President</p>
				<p class="abcom-members__member__address">NAC Tower, 32nd St. Bonifacio Global City, Taguig</p>
				<p class="abcom-members__member__contact">(02) 886 2451</p>
				<div class="abcom-members__member__companies">
					<p class="abcom-members__member__companies__title">Companies Handled</p>
					<p class="abcom-members__member__companies__name">Aboitiz Construction Group, Inc.</p>
					<p class="abcom-members__member__companies__name">Abovant Holdings, Inc.</p>
					<p class="abcom-members__member__companies__name">Cebu Energy Development Corporation</p>
					<a href="#" data-toggle="modal" data-target=".abcom-members__modal" class="abcom-members__member__companies__more">more...</a>
				</div>
			</div>

			<div class="abcom-members__member">
				<img class="abcom-members__member__image" src="" alt="">
				<h3 class="abcom-members__member__name">Catherine R. Atay</h3>
				<p class="abcom-members__member__position">Assistant Vice President</p>
				<p class="abcom-members__member__address">NAC Tower, 32nd St. Bonifacio Global City, Taguig</p>
				<p class="abcom-members__member__contact">(02) 886 2451</p>
			</div>

			<div class="abcom-members__member">
				<img class="abcom-members__member__image" src="" alt="">
				<h3 class="abcom-members__member__name">Catherine R. Atay</h3>
				<p class="abcom-members__member__position">Assistant Vice President</p>
				<p class="abcom-members__member__address">NAC Tower, 32nd St. Bonifacio Global City, Taguig</p>
				<p class="abcom-members__member__contact">(02) 886 2451</p>
			</div>

			<div class="abcom-members__member">
				<img class="abcom-members__member__image" src="" alt="">
				<h3 class="abcom-members__member__name">Catherine R. Atay</h3>
				<p class="abcom-members__member__position">Assistant Vice President</p>
				<p class="abcom-members__member__address">NAC Tower, 32nd St. Bonifacio Global City, Taguig</p>
				<p class="abcom-members__member__contact">(02) 886 2451</p>
			</div>

			<div class="abcom-members__member">
				<img class="abcom-members__member__image" src="" alt="">
				<h3 class="abcom-members__member__name">Catherine R. Atay</h3>
				<p class="abcom-members__member__position">Assistant Vice President</p>
				<p class="abcom-members__member__address">NAC Tower, 32nd St. Bonifacio Global City, Taguig</p>
				<p class="abcom-members__member__contact">(02) 886 2451</p>
				<div class="abcom-members__member__companies">
					<p class="abcom-members__member__companies__title">Companies Handled</p>
					<p class="abcom-members__member__companies__name">Aboitiz Construction Group, Inc.</p>
					<p class="abcom-members__member__companies__name">Abovant Holdings, Inc.</p>
					<p class="abcom-members__member__companies__name">Cebu Energy Development Corporation</p>

					<a href="#" data-toggle="modal" data-target=".abcom-members__modal" class="abcom-members__member__companies__more">more...</a>
				</div>
			</div>
		</div>


		<div class="abcom-members__modal modal fade abcom-modal" tabindex="-1" role="dialog">
		  <div class="modal-dialog">
		    <div class="modal-content">
		        <div class="modal-body">
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
		        	<p class="abcom-members__modal__title">Companies Handled by <b>Mailene M. Dela Torre</b></p>
		        	<p class="abcom-members__modal__company">Accuria Inc.</p>
		        	<p class="abcom-members__modal__company">AA Infra Projects Corpo</p>
		        	<p class="abcom-members__modal__company">Adventenergy, Inc.</p>
		        	<p class="abcom-members__modal__company">AEV Infra Capital , Inc.</p>
		        	<p class="abcom-members__modal__company">AEV Properties , Inc.</p>
		        	<p class="abcom-members__modal__company">CSFP Condominium, .</p>
		        </div>
		    </div>
		  </div>
		</div>

	</div>
</div>

<p>Insert this code inside the <code>main-content__main</code> section.</p>

<pre class="yondu__code"><code></code></pre>

<a href="exp-requestor-about.html" target="_blank" class="btn abcom-btn abcom-btn--cool">View About Us Page</a>