<h3>Setup Contact Us</h3>
<p>Acces level: <b>All</b></p>
<div class="panel panel-default">
	<div class="panel-body">

		<div class="abcom-title">
		  <span class="abcom-title__main">Email Address</span>
		  <span class="abcom-title__sub">Where Inquiries, suggestions and comments are being sent.</span>
		</div>

		<form action="" class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-4">
					<input type="text" class="form-control abcom-form abcom-form--full abcom-form--hasmargin" placeholder="Enter email address">
				</div>
				<div class="col-sm-2">
					<button type="submit" class="btn abcom-btn abcom-btn--default">Change</button>
				</div>
			</div>
		</form>

	</div>
</div>

<p>Insert this code inside the <code>main-content__main</code> section.</p>

<pre class="yondu__code"><code>&lt;div class=&quot;abcom-title&quot;&gt;
  &lt;span class=&quot;abcom-title__main&quot;&gt;Email Address&lt;/span&gt;
  &lt;span class=&quot;abcom-title__sub&quot;&gt;Where Inquiries, suggestions and comments are being sent.&lt;/span&gt;
&lt;/div&gt;

&lt;form action=&quot;&quot; class=&quot;form-horizontal&quot;&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;div class=&quot;col-sm-4&quot;&gt;
      &lt;input type=&quot;text&quot; class=&quot;form-control abcom-form abcom-form--full abcom-form--hasmargin&quot; placeholder=&quot;Enter email address&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-2&quot;&gt;
      &lt;button type=&quot;submit&quot; class=&quot;btn abcom-btn abcom-btn--default&quot;&gt;Change&lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;</code></pre>

<a href="exp-cms-setup-contact.html" target="_blank" class="btn abcom-btn abcom-btn--cool">View Contact Us Page</a>