<h3>Setup About Us</h3>
<p>Acces level: <b>All</b></p>
<div class="panel panel-default">
	<div class="panel-body">

		<div class="abcom-title">
		  <span class="abcom-title__main">Description</span>
		  <span class="abcom-title__sub">Brief description of the company</span>
		  <div class="form-group">
		  	<button type="button" class="btn abcom-btn abcom-btn--default">Edit</button>
		  </div>
		</div>

		<p class="abcom__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

		<div class="abcom-title">
		  <span class="abcom-title__main">Members</span>
		  <span class="abcom-title__sub">Select users to view it from the requestor's page</span>
		</div>

		<div class="abcom-movables">
			<div class="abcom-movables__add">
				<a href="#" class="abcom-movables__add__btn">
					<div><i class="fa fa-plus"></i></div>
					<div>Add Member</div>
				</a>
			</div>
			<div data-id="1" data-sort="1" class="abcom-movables__data">
				<img src="images/team-1.jpg" />
				<h1>Jarvin Mito</h1>
				<p>Front-end Web Developer</p>
				<input type="text" placeholder="1" />
				<a href="#" class="abcom-movables__data__remove"><i class="fa fa-close"></i></a>
			</div>
			<div data-id="2" data-sort="2" class="abcom-movables__data">
				<img src="images/team-2.jpg" />
				<h1>Jan Arvin Mito</h1>
				<p>UX/UI Designer</p>
				<input type="text" placeholder="2" />
			</div>
			<div data-id="3" data-sort="3" class="abcom-movables__data">
				<img src="images/team-3.jpg" />
				<h1>Juan Dela Cruz</h1>
				<p>Project Manager</p>
				<input type="text" placeholder="3" />
			</div>
			<div data-id="4" data-sort="4" class="abcom-movables__data">
				<img src="images/team-4.jpg" />
				<h1>Juana Dela Cross</h1>
				<p>Project Lead</p>
				<input type="text" placeholder="4" />
			</div>
			<div data-id="5" data-sort="5" class="abcom-movables__data">
				<img src="images/team-5.jpg" />
				<h1>Erudith</h1>
				<p>QA Specialist</p>
				<input type="text" placeholder="5" />
			</div>
			<div data-id="6" data-sort="6" class="abcom-movables__data">
				<img src="images/team-6.jpg" />
				<h1>Wayne Tayco</h1>
				<p>UI Designer</p>
				<input type="text" placeholder="6" />
			</div>
			<div data-id="7" data-sort="7" class="abcom-movables__data">
				<img src="images/team-7.jpg" />
				<h1>Anjo Catindig</h1>
				<p>UX Designer</p>
				<input type="text" placeholder="7" />
			</div>
		</div>

	</div>
</div>

<p>Insert this code inside the <code>main-content__main</code> section.</p>

<pre class="yondu__code"><code></code></pre>

<a href="exp-cms-setup-about.html" target="_blank" class="btn abcom-btn abcom-btn--cool">View About Us Page</a>