<h3>Requestor About Us</h3>
<p>Acces level: <b>Requestor</b></p>
<div class="panel panel-default">
	<div class="panel-body">

		<div class="abcom-members">
			<div class="abcom-members__member">
				<img class="abcom-members__member__image" src="" alt="">
				<h3 class="abcom-members__member__name">Catherine R. Atay</h3>
				<p class="abcom-members__member__position">Assistant Vice President</p>
				<p class="abcom-members__member__address">NAC Tower, 32nd St. Bonifacio Global City, Taguig</p>
				<p class="abcom-members__member__contact">(02) 886 2451</p>
				<div class="abcom-members__member__companies">
					<p class="abcom-members__member__companies__title">Companies Handled</p>
					<p class="abcom-members__member__companies__name">Aboitiz Construction Group, Inc.;Abovant Holdings, Inc.;Yondu, Inc.;Walang Semicolon na company name; oh yeah; hehehe</p>
				</div>
			</div>

			<div class="abcom-members__member">
				<img class="abcom-members__member__image" src="" alt="">
				<h3 class="abcom-members__member__name">Catherine R. Atay</h3>
				<p class="abcom-members__member__position">Assistant Vice President</p>
				<p class="abcom-members__member__address">NAC Tower, 32nd St. Bonifacio Global City, Taguig</p>
				<p class="abcom-members__member__contact">(02) 886 2451</p>
			</div>

			<div class="abcom-members__member">
				<img class="abcom-members__member__image" src="" alt="">
				<h3 class="abcom-members__member__name">Catherine R. Atay</h3>
				<p class="abcom-members__member__position">Assistant Vice President</p>
				<p class="abcom-members__member__address">NAC Tower, 32nd St. Bonifacio Global City, Taguig</p>
				<p class="abcom-members__member__contact">(02) 886 2451</p>
			</div>

			<div class="abcom-members__member">
				<img class="abcom-members__member__image" src="" alt="">
				<h3 class="abcom-members__member__name">Catherine R. Atay</h3>
				<p class="abcom-members__member__position">Assistant Vice President</p>
				<p class="abcom-members__member__address">NAC Tower, 32nd St. Bonifacio Global City, Taguig</p>
				<p class="abcom-members__member__contact">(02) 886 2451</p>
			</div>

			<div class="abcom-members__member">
				<img class="abcom-members__member__image" src="" alt="">
				<h3 class="abcom-members__member__name">Juana Dela Cruz</h3>
				<p class="abcom-members__member__position">Assistant Vice President</p>
				<p class="abcom-members__member__address">NAC Tower, 32nd St. Bonifacio Global City, Taguig</p>
				<p class="abcom-members__member__contact">(02) 886 2451</p>
				<div class="abcom-members__member__companies">
					<p class="abcom-members__member__companies__title">Companies Handled</p>
					<p class="abcom-members__member__companies__name">Aboitiz Construction Group, Inc.;Abovant Holdings, Inc.;Cebu Energy Development Corporation;Aboitiz Construction Group, Inc.;Abovant Holdings, Inc.;Cebu Energy Development Corporation;Aboitiz Construction Group, Inc.;Abovant Holdings, Inc.;Cebu Energy Development Corporation;Aboitiz Construction Group, Inc.;Abovant Holdings, Inc.;Cebu Energy Development Corporation</p>
				</div>
			</div>
		</div>


		<div class="abcom-members__modal modal fade abcom-modal" tabindex="-1" role="dialog">
		  <div class="modal-dialog">
		    <div class="modal-content">
		        <div class="modal-body">
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
		        	<p class="abcom-members__modal__title">Companies Handled by <b>Mailene M. Dela Torre</b></p>
		        	<p class="abcom-members__modal__company">Accuria Inc.</p>
		        	<p class="abcom-members__modal__company">AA Infra Projects Corpo</p>
		        	<p class="abcom-members__modal__company">Adventenergy, Inc.</p>
		        	<p class="abcom-members__modal__company">AEV Infra Capital , Inc.</p>
		        	<p class="abcom-members__modal__company">AEV Properties , Inc.</p>
		        	<p class="abcom-members__modal__company">CSFP Condominium, .</p>
		        </div>
		    </div>
		  </div>
		</div>

	</div>
</div>

<p>Insert this code inside the <code>main-content__main</code> section.</p>

<pre class="yondu__code">&lt;div class=&quot;abcom-members&quot;&gt;
	&lt;div class=&quot;abcom-members__member&quot;&gt;
		&lt;img class=&quot;abcom-members__member__image&quot; src=&quot;&quot; alt=&quot;&quot;&gt;
		&lt;h3 class=&quot;abcom-members__member__name&quot;&gt;Catherine R. Atay&lt;/h3&gt;
		&lt;p class=&quot;abcom-members__member__position&quot;&gt;Assistant Vice President&lt;/p&gt;
		&lt;p class=&quot;abcom-members__member__address&quot;&gt;NAC Tower, 32nd St. Bonifacio Global City, Taguig&lt;/p&gt;
		&lt;p class=&quot;abcom-members__member__contact&quot;&gt;(02) 886 2451&lt;/p&gt;
		&lt;div class=&quot;abcom-members__member__companies&quot;&gt;
			&lt;p class=&quot;abcom-members__member__companies__title&quot;&gt;Companies Handled&lt;/p&gt;
			&lt;p class=&quot;abcom-members__member__companies__name&quot;&gt;Aboitiz Construction Group, Inc.&lt;/p&gt;
			&lt;p class=&quot;abcom-members__member__companies__name&quot;&gt;Abovant Holdings, Inc.&lt;/p&gt;
			&lt;p class=&quot;abcom-members__member__companies__name&quot;&gt;Cebu Energy Development Corporation&lt;/p&gt;
			&lt;a href=&quot;#&quot; data-toggle=&quot;modal&quot; data-target=&quot;.abcom-members__modal&quot; class=&quot;abcom-members__member__companies__more&quot;&gt;more...&lt;/a&gt;
		&lt;/div&gt;
	&lt;/div&gt;

	&lt;div class=&quot;abcom-members__member&quot;&gt;
		&lt;img class=&quot;abcom-members__member__image&quot; src=&quot;&quot; alt=&quot;&quot;&gt;
		&lt;h3 class=&quot;abcom-members__member__name&quot;&gt;Catherine R. Atay&lt;/h3&gt;
		&lt;p class=&quot;abcom-members__member__position&quot;&gt;Assistant Vice President&lt;/p&gt;
		&lt;p class=&quot;abcom-members__member__address&quot;&gt;NAC Tower, 32nd St. Bonifacio Global City, Taguig&lt;/p&gt;
		&lt;p class=&quot;abcom-members__member__contact&quot;&gt;(02) 886 2451&lt;/p&gt;
	&lt;/div&gt;

	&lt;div class=&quot;abcom-members__member&quot;&gt;
		&lt;img class=&quot;abcom-members__member__image&quot; src=&quot;&quot; alt=&quot;&quot;&gt;
		&lt;h3 class=&quot;abcom-members__member__name&quot;&gt;Catherine R. Atay&lt;/h3&gt;
		&lt;p class=&quot;abcom-members__member__position&quot;&gt;Assistant Vice President&lt;/p&gt;
		&lt;p class=&quot;abcom-members__member__address&quot;&gt;NAC Tower, 32nd St. Bonifacio Global City, Taguig&lt;/p&gt;
		&lt;p class=&quot;abcom-members__member__contact&quot;&gt;(02) 886 2451&lt;/p&gt;
	&lt;/div&gt;

	&lt;div class=&quot;abcom-members__member&quot;&gt;
		&lt;img class=&quot;abcom-members__member__image&quot; src=&quot;&quot; alt=&quot;&quot;&gt;
		&lt;h3 class=&quot;abcom-members__member__name&quot;&gt;Catherine R. Atay&lt;/h3&gt;
		&lt;p class=&quot;abcom-members__member__position&quot;&gt;Assistant Vice President&lt;/p&gt;
		&lt;p class=&quot;abcom-members__member__address&quot;&gt;NAC Tower, 32nd St. Bonifacio Global City, Taguig&lt;/p&gt;
		&lt;p class=&quot;abcom-members__member__contact&quot;&gt;(02) 886 2451&lt;/p&gt;
	&lt;/div&gt;

	&lt;div class=&quot;abcom-members__member&quot;&gt;
		&lt;img class=&quot;abcom-members__member__image&quot; src=&quot;&quot; alt=&quot;&quot;&gt;
		&lt;h3 class=&quot;abcom-members__member__name&quot;&gt;Catherine R. Atay&lt;/h3&gt;
		&lt;p class=&quot;abcom-members__member__position&quot;&gt;Assistant Vice President&lt;/p&gt;
		&lt;p class=&quot;abcom-members__member__address&quot;&gt;NAC Tower, 32nd St. Bonifacio Global City, Taguig&lt;/p&gt;
		&lt;p class=&quot;abcom-members__member__contact&quot;&gt;(02) 886 2451&lt;/p&gt;
		&lt;div class=&quot;abcom-members__member__companies&quot;&gt;
			&lt;p class=&quot;abcom-members__member__companies__title&quot;&gt;Companies Handled&lt;/p&gt;
			&lt;p class=&quot;abcom-members__member__companies__name&quot;&gt;Aboitiz Construction Group, Inc.&lt;/p&gt;
			&lt;p class=&quot;abcom-members__member__companies__name&quot;&gt;Abovant Holdings, Inc.&lt;/p&gt;
			&lt;p class=&quot;abcom-members__member__companies__name&quot;&gt;Cebu Energy Development Corporation&lt;/p&gt;

			&lt;a href=&quot;#&quot; data-toggle=&quot;modal&quot; data-target=&quot;.abcom-members__modal&quot; class=&quot;abcom-members__member__companies__more&quot;&gt;more...&lt;/a&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;<code></code></pre>

<p>Modal for About Us</p>
<pre class="yondu__code"><code>&lt;div class=&quot;abcom-members__modal modal fade abcom-modal&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot;&gt;
  &lt;div class=&quot;modal-dialog&quot;&gt;
    &lt;div class=&quot;modal-content&quot;&gt;
        &lt;div class=&quot;modal-body&quot;&gt;
            &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;×&lt;/span&gt;&lt;/button&gt;
        	&lt;p class=&quot;abcom-members__modal__title&quot;&gt;Companies Handled by &lt;b&gt;Mailene M. Dela Torre&lt;/b&gt;&lt;/p&gt;
        	&lt;p class=&quot;abcom-members__modal__company&quot;&gt;Accuria Inc.&lt;/p&gt;
        	&lt;p class=&quot;abcom-members__modal__company&quot;&gt;AA Infra Projects Corpo&lt;/p&gt;
        	&lt;p class=&quot;abcom-members__modal__company&quot;&gt;Adventenergy, Inc.&lt;/p&gt;
        	&lt;p class=&quot;abcom-members__modal__company&quot;&gt;AEV Infra Capital , Inc.&lt;/p&gt;
        	&lt;p class=&quot;abcom-members__modal__company&quot;&gt;AEV Properties , Inc.&lt;/p&gt;
        	&lt;p class=&quot;abcom-members__modal__company&quot;&gt;CSFP Condominium, .&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>

<a href="exp-requestor-about.html" target="_blank" class="btn abcom-btn abcom-btn--cool">View About Us Page</a>