<h3>Company Profile Add / Edit / View Page</h3>
<p>Acces level: <b>All</b></p>
<div class="panel panel-default">
	<div class="panel-body">

		<form action="" class="form-horizontal">

			<div class="abcom-title">
			  <span class="abcom-title__main">Company Details</span>
			</div>

			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-9">
						
						<div class="form-group">
							<label for="form_company" class="col-sm-3">Name</label>
				            <div class="col-sm-9">
				            	<input type="text" id="form_company" class="form-control abcom-form abcom-form--full abcom-form--hasmargin" placeholder="Type here" />
				            </div>
				        </div>

				        <div class="form-group">
							<label for="form_nature" class="col-sm-3">Nature of Business</label>
				            <div class="col-sm-9">
				            	<select name="" id="form_nature" class="selectpicker abcom-form abcom-form--full abcom-form--hasmargin form-control">
								    <option selected>Select Nature</option>
								    <option value="">Nature 1</option>
								    <option value="">Nature 2</option>
								    <option value="">Nature 3</option>
								</select>
				            </div>
				        </div>

				        <div class="form-group">
							<label for="form_oaddress" class="col-sm-3">Principal Office Address</label>
				            <div class="col-sm-9">
				            	<input type="text" id="form_oaddress" class="form-control abcom-form  abcom-form--full abcom-form--hasmargin" placeholder="Type here" />
				            </div>
				        </div>

				        <div class="form-group">
							<label for="form_baddress" class="col-sm-3">Business Address</label>
				            <div class="col-sm-9">
				            	<input type="text" id="form_baddress" class="form-control abcom-form  abcom-form--full abcom-form--hasmargin" placeholder="Type here" />
				            </div>
				        </div>

					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<img class="abcom-form abcom-form--hasmargin" src="assets/images/yis.jpg" alt="Profile Photo">
							
							<label for="file-input" class="btn abcom-btn abcom-btn--default abcom-form--full abcom-form--hasmargin abcom-upload__addbtn">
							  <i class="fa fa-plus"></i>
							  <span>Select Photo</span>
							  <input id="file-input" class="abcom-upload__file" type="file" name="file">
							</label>
						</div>
					</div>
				</div>
			</div>


			<div class="abcom-title">
			  <span class="abcom-title__main">Incorporation Details</span>
			</div>

			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="form_dateinc" class="col-sm-2">Incorporation Date</label>
				            <div class="col-sm-4">
				            	<input type="text" id="form_dateinc" class="form-control abcom-form abcom-form__date abcom-form--full abcom-form--hasmargin" placeholder="Type here">
				            </div>

				            <label for="form_secno" class="col-sm-2">SEC Registration Number</label>
				            <div class="col-sm-4">
				            	<input type="text" id="form_secno" class="form-control abcom-form  abcom-form--full abcom-form--hasmargin" placeholder="Type here">
				            </div>
				        </div>

				        <div class="form-group">
							<label for="form_asm" class="col-sm-2">ASM Date as per By-Laws</label>
				            <div class="col-sm-4">
				            	<input type="text" id="form_asm" class="form-control abcom-form abcom-form__date abcom-form--full abcom-form--hasmargin" placeholder="Type here">
				            </div>

				            <label for="form_tin" class="col-sm-2">Tax Identification Number</label>
				            <div class="col-sm-4">
				            	<input type="text" id="form_tin" class="form-control abcom-form  abcom-form--full abcom-form--hasmargin" placeholder="Type here">
				            </div>
				        </div>

				        <div class="form-group">
							<label for="form_statusop" class="col-sm-2">Status of Operation</label>
				            <div class="col-sm-4">
				            	<select name="" id="form_statusop" class="selectpicker abcom-form abcom-form--full abcom-form--hasmargin form-control">
								    <option selected>Select Nature</option>
								    <option value="">Active</option>
								    <option value="">Inactive</option>
								</select>
				            </div>

				            <label for="form_statusfile" class="col-sm-2">Status of Filing with SEC</label>
				            <div class="col-sm-4">
				            	<select name="" id="form_statusfile" class="selectpicker abcom-form abcom-form--full abcom-form--hasmargin form-control">
								    <option selected>Select Nature</option>
								    <option value="">Active</option>
								    <option value="">Inactive</option>
								</select>
				            </div>
				        </div>
					
					</div>
				</div>
			</div>

			<div class="abcom-title">
			  <span class="abcom-title__main">Directors and Officers</span>
			</div>

			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">

						<div class="form-group">
						  <div class="abcom-list">
							  <label for="form_director" class="col-sm-2">Director</label>
							  <div class="col-sm-4">
							    <div class="input-group abcom-form__inputgroup">
							      <select multiple id="form_director" data-title="Director" class="form-control abcom-list__dropdown abcom-form" >
							        <option>Juan Dela Cruz</option>
							        <option>Johann Cheese</option>
							        <option>Yvonne Strahovsky</option>
							        <option>Natalie Dormer</option>
							      </select>
							      <div class="input-group-addon">
							        <button type="button" class="btn abcom-btn abcom-btn--default abcom-list__add"><span class="glyphicon glyphicon-plus"></span></button>
							      </div>
							    </div>
							    <ol class="abcom-list__items" data-parent="form_director"></ol>
							  </div>
						  </div>

						  <div class="abcom-list">
							  <label for="form_officer" class="col-sm-2">Officer</label>
							  <div class="col-sm-4">
							    <div class="input-group abcom-form__inputgroup">
							      <select multiple id="form_officer" data-title="Officer" class="form-control abcom-list__dropdown abcom-form" >
							        <option>Juan Dela Cruz</option>
							        <option>Johann Cheese</option>
							        <option>Yvonne Strahovsky</option>
							        <option>Natalie Dormer</option>
							      </select>
							      <div class="input-group-addon">
							        <button type="button" class="btn abcom-btn abcom-btn--default abcom-list__add"><span class="glyphicon glyphicon-plus"></span></button>
							      </div>
							    </div>
							    <ol class="abcom-list__items" data-parent="form_officer"></ol>
							  </div>
						  </div>
						</div>

					</div>
				</div>
			</div>

			<div class="abcom-title">
			  <span class="abcom-title__main">Lawyers and Paralegals</span>
			</div>

			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">

						<div class="form-group">
						  <div class="abcom-list">
							  <label for="form_lawyer" class="col-sm-2">Lawyers</label>
							  <div class="col-sm-4">
							    <div class="input-group abcom-form__inputgroup">
							      <select multiple id="form_lawyer" data-title="Lawyers" class="form-control abcom-list__dropdown abcom-form" >
							        <option>Juan Dela Cruz</option>
							        <option>Johann Cheese</option>
							        <option>Yvonne Strahovsky</option>
							        <option>Natalie Dormer</option>
							      </select>
							      <div class="input-group-addon">
							        <button type="button" class="btn abcom-btn abcom-btn--default abcom-list__add"><span class="glyphicon glyphicon-plus"></span></button>
							      </div>
							    </div>
							    <ol class="abcom-list__items" data-parent="form_lawyer"></ol>
							  </div>
						  </div>

						  <div class="abcom-list">
							  <label for="form_paralegal" class="col-sm-2">Paralegal</label>
							  <div class="col-sm-4">
							    <div class="input-group abcom-form__inputgroup">
							      <select multiple id="form_paralegal" data-title="Paralegal" class="form-control abcom-list__dropdown abcom-form" >
							        <option>Juan Dela Cruz</option>
							        <option>Johann Cheese</option>
							        <option>Yvonne Strahovsky</option>
							        <option>Natalie Dormer</option>
							      </select>
							      <div class="input-group-addon">
							        <button type="button" class="btn abcom-btn abcom-btn--default abcom-list__add"><span class="glyphicon glyphicon-plus"></span></button>
							      </div>
							    </div>
							    <ol class="abcom-list__items" data-parent="form_paralegal"></ol>
							  </div>
						  </div>
						</div>

					</div>
				</div>
			</div>


			<div class="abcom-title">
			  <span class="abcom-title__main">Endorsers and Approvers</span>
			</div>


			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						
						<div class="form-group">
						  <div class="abcom-list">
							  <label for="form_endorser" class="col-sm-2">Endorser</label>
							  <div class="col-sm-4">
							    <div class="input-group abcom-form__inputgroup">
							      <select multiple id="form_endorser" data-title="Endorser" class="form-control abcom-list__dropdown abcom-form" >
							        <option>Juan Dela Cruz</option>
							        <option>Johann Cheese</option>
							        <option>Yvonne Strahovsky</option>
							        <option>Natalie Dormer</option>
							      </select>
							      <div class="input-group-addon">
							        <button type="button" class="btn abcom-btn abcom-btn--default abcom-list__add"><span class="glyphicon glyphicon-plus"></span></button>
							      </div>
							    </div>
							    <ol class="abcom-list__items" data-parent="form_endorser"></ol>
							  </div>
						  </div>

						  <div class="abcom-list">
							  <label for="form_approver" class="col-sm-2">Approver</label>
							  <div class="col-sm-4">
							    <div class="input-group abcom-form__inputgroup">
							      <select multiple id="form_approver" data-title="Approver" class="form-control abcom-list__dropdown abcom-form" >
							        <option>Juan Dela Cruz</option>
							        <option>Johann Cheese</option>
							        <option>Yvonne Strahovsky</option>
							        <option>Natalie Dormer</option>
							      </select>
							      <div class="input-group-addon">
							        <button type="button" class="btn abcom-btn abcom-btn--default abcom-list__add"><span class="glyphicon glyphicon-plus"></span></button>
							      </div>
							    </div>
							    <ol class="abcom-list__items" data-parent="form_approver"></ol>
							  </div>
						  </div>
						</div>

					</div>
				</div>
			</div>

			<div class="abcom-title">
			  <span class="abcom-title__main">Date of Meetings</span>
			</div>


			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">

						<div class="form-group abcom-list">
						  <label for="" class="col-sm-1">Date</label>
						  <div class="col-sm-4">
						    <input type="text" class="abcom-list__date form-control abcom-form abcom-form__date abcom-form--full" placeholder="MM/DD/YYYY" />
						  </div>
						  <label for="" class="col-sm-2">Type of Meeting</label>
						  <div class="col-sm-5">
						    <div class="input-group abcom-form__inputgroup">
						      <select multiple id="abcom-list__select2date" data-title="Type of Meeting" class="form-control abcom-list__dropdown abcom-form" >
						        <option>Juan Dela Cruz</option>
						        <option>Johann Cheese</option>
						        <option>Yvonne Strahovsky</option>
						        <option>Natalie Dormer</option>
						      </select>
						      <div class="input-group-addon">
						        <button type="button" class="btn abcom-btn abcom-btn--default abcom-list__add"><span class="glyphicon glyphicon-plus"></span></button>
						      </div>
						    </div>
						  </div>
						  <div class="col-sm-12">
						    <ol class="abcom-list__items" data-parent="abcom-list__select2date"></ol>
						  </div>
						</div>

						<div class="form-group">
		                    <div class="col-sm-12">
		                      <div class="abcom-container abcom-container--right">
		                        <button type="button" class="btn abcom-btn abcom-btn--default">Cancel</button>
		                        <button type="submit" class="btn abcom-btn abcom-btn--default">Submit</button>
		                      </div>
		                    </div>
		                </div>

					</div>
				</div>
			</div>

		</form>

	</div>
</div>

<p>Insert this code inside the <code>main-content__main</code> section.</p>

<pre class="yondu__code"><code>&lt;form action=&quot;&quot; class=&quot;form-horizontal&quot;&gt;

	&lt;div class=&quot;abcom-title&quot;&gt;
	  &lt;span class=&quot;abcom-title__main&quot;&gt;Company Details&lt;/span&gt;
	&lt;/div&gt;

	&lt;div class=&quot;container-fluid&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-9&quot;&gt;
				
				&lt;div class=&quot;form-group&quot;&gt;
					&lt;label for=&quot;form_company&quot; class=&quot;col-sm-3&quot;&gt;Name&lt;/label&gt;
		            &lt;div class=&quot;col-sm-9&quot;&gt;
		            	&lt;input type=&quot;text&quot; id=&quot;form_company&quot; class=&quot;form-control abcom-form abcom-form--full abcom-form--hasmargin&quot; placeholder=&quot;Type here&quot; /&gt;
		            &lt;/div&gt;
		        &lt;/div&gt;

		        &lt;div class=&quot;form-group&quot;&gt;
					&lt;label for=&quot;form_nature&quot; class=&quot;col-sm-3&quot;&gt;Nature of Business&lt;/label&gt;
		            &lt;div class=&quot;col-sm-9&quot;&gt;
		            	&lt;select name=&quot;&quot; id=&quot;form_nature&quot; class=&quot;selectpicker abcom-form abcom-form--full abcom-form--hasmargin form-control&quot;&gt;
						    &lt;option selected&gt;Select Nature&lt;/option&gt;
						    &lt;option value=&quot;&quot;&gt;Nature 1&lt;/option&gt;
						    &lt;option value=&quot;&quot;&gt;Nature 2&lt;/option&gt;
						    &lt;option value=&quot;&quot;&gt;Nature 3&lt;/option&gt;
						&lt;/select&gt;
		            &lt;/div&gt;
		        &lt;/div&gt;

		        &lt;div class=&quot;form-group&quot;&gt;
					&lt;label for=&quot;form_oaddress&quot; class=&quot;col-sm-3&quot;&gt;Principal Office Address&lt;/label&gt;
		            &lt;div class=&quot;col-sm-9&quot;&gt;
		            	&lt;input type=&quot;text&quot; id=&quot;form_oaddress&quot; class=&quot;form-control abcom-form  abcom-form--full abcom-form--hasmargin&quot; placeholder=&quot;Type here&quot; /&gt;
		            &lt;/div&gt;
		        &lt;/div&gt;

		        &lt;div class=&quot;form-group&quot;&gt;
					&lt;label for=&quot;form_baddress&quot; class=&quot;col-sm-3&quot;&gt;Business Address&lt;/label&gt;
		            &lt;div class=&quot;col-sm-9&quot;&gt;
		            	&lt;input type=&quot;text&quot; id=&quot;form_baddress&quot; class=&quot;form-control abcom-form  abcom-form--full abcom-form--hasmargin&quot; placeholder=&quot;Type here&quot; /&gt;
		            &lt;/div&gt;
		        &lt;/div&gt;

			&lt;/div&gt;
			&lt;div class=&quot;col-sm-3&quot;&gt;
				&lt;div class=&quot;form-group&quot;&gt;
					&lt;img class=&quot;abcom-form abcom-form--hasmargin&quot; src=&quot;assets/images/yis.jpg&quot; alt=&quot;Profile Photo&quot;&gt;
					
					&lt;label for=&quot;file-input&quot; class=&quot;btn abcom-btn abcom-btn--default abcom-form--full abcom-form--hasmargin abcom-upload__addbtn&quot;&gt;
					  &lt;i class=&quot;fa fa-plus&quot;&gt;&lt;/i&gt;
					  &lt;span&gt;Select Photo&lt;/span&gt;
					  &lt;input id=&quot;file-input&quot; class=&quot;abcom-upload__file&quot; type=&quot;file&quot; name=&quot;file&quot;&gt;
					&lt;/label&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;


	&lt;div class=&quot;abcom-title&quot;&gt;
	  &lt;span class=&quot;abcom-title__main&quot;&gt;Incorporation Details&lt;/span&gt;
	&lt;/div&gt;

	&lt;div class=&quot;container-fluid&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-12&quot;&gt;
				&lt;div class=&quot;form-group&quot;&gt;
					&lt;label for=&quot;form_dateinc&quot; class=&quot;col-sm-2&quot;&gt;Incorporation Date&lt;/label&gt;
		            &lt;div class=&quot;col-sm-4&quot;&gt;
		            	&lt;input type=&quot;text&quot; id=&quot;form_dateinc&quot; class=&quot;form-control abcom-form abcom-form__date abcom-form--full abcom-form--hasmargin&quot; placeholder=&quot;Type here&quot;&gt;
		            &lt;/div&gt;

		            &lt;label for=&quot;form_secno&quot; class=&quot;col-sm-2&quot;&gt;SEC Registration Number&lt;/label&gt;
		            &lt;div class=&quot;col-sm-4&quot;&gt;
		            	&lt;input type=&quot;text&quot; id=&quot;form_secno&quot; class=&quot;form-control abcom-form  abcom-form--full abcom-form--hasmargin&quot; placeholder=&quot;Type here&quot;&gt;
		            &lt;/div&gt;
		        &lt;/div&gt;

		        &lt;div class=&quot;form-group&quot;&gt;
					&lt;label for=&quot;form_asm&quot; class=&quot;col-sm-2&quot;&gt;ASM Date as per By-Laws&lt;/label&gt;
		            &lt;div class=&quot;col-sm-4&quot;&gt;
		            	&lt;input type=&quot;text&quot; id=&quot;form_asm&quot; class=&quot;form-control abcom-form abcom-form__date abcom-form--full abcom-form--hasmargin&quot; placeholder=&quot;Type here&quot;&gt;
		            &lt;/div&gt;

		            &lt;label for=&quot;form_tin&quot; class=&quot;col-sm-2&quot;&gt;Tax Identification Number&lt;/label&gt;
		            &lt;div class=&quot;col-sm-4&quot;&gt;
		            	&lt;input type=&quot;text&quot; id=&quot;form_tin&quot; class=&quot;form-control abcom-form  abcom-form--full abcom-form--hasmargin&quot; placeholder=&quot;Type here&quot;&gt;
		            &lt;/div&gt;
		        &lt;/div&gt;

		        &lt;div class=&quot;form-group&quot;&gt;
					&lt;label for=&quot;form_statusop&quot; class=&quot;col-sm-2&quot;&gt;Status of Operation&lt;/label&gt;
		            &lt;div class=&quot;col-sm-4&quot;&gt;
		            	&lt;select name=&quot;&quot; id=&quot;form_statusop&quot; class=&quot;selectpicker abcom-form abcom-form--full abcom-form--hasmargin form-control&quot;&gt;
						    &lt;option selected&gt;Select Nature&lt;/option&gt;
						    &lt;option value=&quot;&quot;&gt;Active&lt;/option&gt;
						    &lt;option value=&quot;&quot;&gt;Inactive&lt;/option&gt;
						&lt;/select&gt;
		            &lt;/div&gt;

		            &lt;label for=&quot;form_statusfile&quot; class=&quot;col-sm-2&quot;&gt;Status of Filing with SEC&lt;/label&gt;
		            &lt;div class=&quot;col-sm-4&quot;&gt;
		            	&lt;select name=&quot;&quot; id=&quot;form_statusfile&quot; class=&quot;selectpicker abcom-form abcom-form--full abcom-form--hasmargin form-control&quot;&gt;
						    &lt;option selected&gt;Select Nature&lt;/option&gt;
						    &lt;option value=&quot;&quot;&gt;Active&lt;/option&gt;
						    &lt;option value=&quot;&quot;&gt;Inactive&lt;/option&gt;
						&lt;/select&gt;
		            &lt;/div&gt;
		        &lt;/div&gt;
			
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;

	&lt;div class=&quot;abcom-title&quot;&gt;
	  &lt;span class=&quot;abcom-title__main&quot;&gt;Directors and Officers&lt;/span&gt;
	&lt;/div&gt;

	&lt;div class=&quot;container-fluid&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-12&quot;&gt;

				&lt;div class=&quot;form-group&quot;&gt;
				  &lt;div class=&quot;abcom-list&quot;&gt;
					  &lt;label for=&quot;form_director&quot; class=&quot;col-sm-2&quot;&gt;Director&lt;/label&gt;
					  &lt;div class=&quot;col-sm-4&quot;&gt;
					    &lt;div class=&quot;input-group abcom-form__inputgroup&quot;&gt;
					      &lt;select multiple id=&quot;form_director&quot; data-title=&quot;Director&quot; class=&quot;form-control abcom-list__dropdown abcom-form&quot; &gt;
					        &lt;option&gt;Juan Dela Cruz&lt;/option&gt;
					        &lt;option&gt;Johann Cheese&lt;/option&gt;
					        &lt;option&gt;Yvonne Strahovsky&lt;/option&gt;
					        &lt;option&gt;Natalie Dormer&lt;/option&gt;
					      &lt;/select&gt;
					      &lt;div class=&quot;input-group-addon&quot;&gt;
					        &lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default abcom-list__add&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-plus&quot;&gt;&lt;/span&gt;&lt;/button&gt;
					      &lt;/div&gt;
					    &lt;/div&gt;
					    &lt;ol class=&quot;abcom-list__items&quot; data-parent=&quot;form_director&quot;&gt;&lt;/ol&gt;
					  &lt;/div&gt;
				  &lt;/div&gt;

				  &lt;div class=&quot;abcom-list&quot;&gt;
					  &lt;label for=&quot;form_officer&quot; class=&quot;col-sm-2&quot;&gt;Officer&lt;/label&gt;
					  &lt;div class=&quot;col-sm-4&quot;&gt;
					    &lt;div class=&quot;input-group abcom-form__inputgroup&quot;&gt;
					      &lt;select multiple id=&quot;form_officer&quot; data-title=&quot;Officer&quot; class=&quot;form-control abcom-list__dropdown abcom-form&quot; &gt;
					        &lt;option&gt;Juan Dela Cruz&lt;/option&gt;
					        &lt;option&gt;Johann Cheese&lt;/option&gt;
					        &lt;option&gt;Yvonne Strahovsky&lt;/option&gt;
					        &lt;option&gt;Natalie Dormer&lt;/option&gt;
					      &lt;/select&gt;
					      &lt;div class=&quot;input-group-addon&quot;&gt;
					        &lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default abcom-list__add&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-plus&quot;&gt;&lt;/span&gt;&lt;/button&gt;
					      &lt;/div&gt;
					    &lt;/div&gt;
					    &lt;ol class=&quot;abcom-list__items&quot; data-parent=&quot;form_officer&quot;&gt;&lt;/ol&gt;
					  &lt;/div&gt;
				  &lt;/div&gt;
				&lt;/div&gt;

			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;

	&lt;div class=&quot;abcom-title&quot;&gt;
	  &lt;span class=&quot;abcom-title__main&quot;&gt;Lawyers and Paralegals&lt;/span&gt;
	&lt;/div&gt;

	&lt;div class=&quot;container-fluid&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-12&quot;&gt;

				&lt;div class=&quot;form-group&quot;&gt;
				  &lt;div class=&quot;abcom-list&quot;&gt;
					  &lt;label for=&quot;form_lawyer&quot; class=&quot;col-sm-2&quot;&gt;Lawyers&lt;/label&gt;
					  &lt;div class=&quot;col-sm-4&quot;&gt;
					    &lt;div class=&quot;input-group abcom-form__inputgroup&quot;&gt;
					      &lt;select multiple id=&quot;form_lawyer&quot; data-title=&quot;Lawyers&quot; class=&quot;form-control abcom-list__dropdown abcom-form&quot; &gt;
					        &lt;option&gt;Juan Dela Cruz&lt;/option&gt;
					        &lt;option&gt;Johann Cheese&lt;/option&gt;
					        &lt;option&gt;Yvonne Strahovsky&lt;/option&gt;
					        &lt;option&gt;Natalie Dormer&lt;/option&gt;
					      &lt;/select&gt;
					      &lt;div class=&quot;input-group-addon&quot;&gt;
					        &lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default abcom-list__add&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-plus&quot;&gt;&lt;/span&gt;&lt;/button&gt;
					      &lt;/div&gt;
					    &lt;/div&gt;
					    &lt;ol class=&quot;abcom-list__items&quot; data-parent=&quot;form_lawyer&quot;&gt;&lt;/ol&gt;
					  &lt;/div&gt;
				  &lt;/div&gt;

				  &lt;div class=&quot;abcom-list&quot;&gt;
					  &lt;label for=&quot;form_paralegal&quot; class=&quot;col-sm-2&quot;&gt;Paralegal&lt;/label&gt;
					  &lt;div class=&quot;col-sm-4&quot;&gt;
					    &lt;div class=&quot;input-group abcom-form__inputgroup&quot;&gt;
					      &lt;select multiple id=&quot;form_paralegal&quot; data-title=&quot;Paralegal&quot; class=&quot;form-control abcom-list__dropdown abcom-form&quot; &gt;
					        &lt;option&gt;Juan Dela Cruz&lt;/option&gt;
					        &lt;option&gt;Johann Cheese&lt;/option&gt;
					        &lt;option&gt;Yvonne Strahovsky&lt;/option&gt;
					        &lt;option&gt;Natalie Dormer&lt;/option&gt;
					      &lt;/select&gt;
					      &lt;div class=&quot;input-group-addon&quot;&gt;
					        &lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default abcom-list__add&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-plus&quot;&gt;&lt;/span&gt;&lt;/button&gt;
					      &lt;/div&gt;
					    &lt;/div&gt;
					    &lt;ol class=&quot;abcom-list__items&quot; data-parent=&quot;form_paralegal&quot;&gt;&lt;/ol&gt;
					  &lt;/div&gt;
				  &lt;/div&gt;
				&lt;/div&gt;

			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;


	&lt;div class=&quot;abcom-title&quot;&gt;
	  &lt;span class=&quot;abcom-title__main&quot;&gt;Endorsers and Approvers&lt;/span&gt;
	&lt;/div&gt;


	&lt;div class=&quot;container-fluid&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-12&quot;&gt;
				
				&lt;div class=&quot;form-group&quot;&gt;
				  &lt;div class=&quot;abcom-list&quot;&gt;
					  &lt;label for=&quot;form_endorser&quot; class=&quot;col-sm-2&quot;&gt;Endorser&lt;/label&gt;
					  &lt;div class=&quot;col-sm-4&quot;&gt;
					    &lt;div class=&quot;input-group abcom-form__inputgroup&quot;&gt;
					      &lt;select multiple id=&quot;form_endorser&quot; data-title=&quot;Endorser&quot; class=&quot;form-control abcom-list__dropdown abcom-form&quot; &gt;
					        &lt;option&gt;Juan Dela Cruz&lt;/option&gt;
					        &lt;option&gt;Johann Cheese&lt;/option&gt;
					        &lt;option&gt;Yvonne Strahovsky&lt;/option&gt;
					        &lt;option&gt;Natalie Dormer&lt;/option&gt;
					      &lt;/select&gt;
					      &lt;div class=&quot;input-group-addon&quot;&gt;
					        &lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default abcom-list__add&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-plus&quot;&gt;&lt;/span&gt;&lt;/button&gt;
					      &lt;/div&gt;
					    &lt;/div&gt;
					    &lt;ol class=&quot;abcom-list__items&quot; data-parent=&quot;form_endorser&quot;&gt;&lt;/ol&gt;
					  &lt;/div&gt;
				  &lt;/div&gt;

				  &lt;div class=&quot;abcom-list&quot;&gt;
					  &lt;label for=&quot;form_approver&quot; class=&quot;col-sm-2&quot;&gt;Approver&lt;/label&gt;
					  &lt;div class=&quot;col-sm-4&quot;&gt;
					    &lt;div class=&quot;input-group abcom-form__inputgroup&quot;&gt;
					      &lt;select multiple id=&quot;form_approver&quot; data-title=&quot;Approver&quot; class=&quot;form-control abcom-list__dropdown abcom-form&quot; &gt;
					        &lt;option&gt;Juan Dela Cruz&lt;/option&gt;
					        &lt;option&gt;Johann Cheese&lt;/option&gt;
					        &lt;option&gt;Yvonne Strahovsky&lt;/option&gt;
					        &lt;option&gt;Natalie Dormer&lt;/option&gt;
					      &lt;/select&gt;
					      &lt;div class=&quot;input-group-addon&quot;&gt;
					        &lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default abcom-list__add&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-plus&quot;&gt;&lt;/span&gt;&lt;/button&gt;
					      &lt;/div&gt;
					    &lt;/div&gt;
					    &lt;ol class=&quot;abcom-list__items&quot; data-parent=&quot;form_approver&quot;&gt;&lt;/ol&gt;
					  &lt;/div&gt;
				  &lt;/div&gt;
				&lt;/div&gt;

			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;

	&lt;div class=&quot;abcom-title&quot;&gt;
	  &lt;span class=&quot;abcom-title__main&quot;&gt;Date of Meetings&lt;/span&gt;
	&lt;/div&gt;


	&lt;div class=&quot;container-fluid&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-12&quot;&gt;

				&lt;div class=&quot;form-group abcom-list&quot;&gt;
				  &lt;label for=&quot;&quot; class=&quot;col-sm-1&quot;&gt;Date&lt;/label&gt;
				  &lt;div class=&quot;col-sm-4&quot;&gt;
				    &lt;input type=&quot;text&quot; class=&quot;abcom-list__date form-control abcom-form abcom-form__date abcom-form--full&quot; placeholder=&quot;MM/DD/YYYY&quot; /&gt;
				  &lt;/div&gt;
				  &lt;label for=&quot;&quot; class=&quot;col-sm-2&quot;&gt;Type of Meeting&lt;/label&gt;
				  &lt;div class=&quot;col-sm-5&quot;&gt;
				    &lt;div class=&quot;input-group abcom-form__inputgroup&quot;&gt;
				      &lt;select multiple id=&quot;abcom-list__select2date&quot; data-title=&quot;Type of Meeting&quot; class=&quot;form-control abcom-list__dropdown abcom-form&quot; &gt;
				        &lt;option&gt;Juan Dela Cruz&lt;/option&gt;
				        &lt;option&gt;Johann Cheese&lt;/option&gt;
				        &lt;option&gt;Yvonne Strahovsky&lt;/option&gt;
				        &lt;option&gt;Natalie Dormer&lt;/option&gt;
				      &lt;/select&gt;
				      &lt;div class=&quot;input-group-addon&quot;&gt;
				        &lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default abcom-list__add&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-plus&quot;&gt;&lt;/span&gt;&lt;/button&gt;
				      &lt;/div&gt;
				    &lt;/div&gt;
				  &lt;/div&gt;
				  &lt;div class=&quot;col-sm-12&quot;&gt;
				    &lt;ol class=&quot;abcom-list__items&quot; data-parent=&quot;abcom-list__select2date&quot;&gt;&lt;/ol&gt;
				  &lt;/div&gt;
				&lt;/div&gt;

				&lt;div class=&quot;form-group&quot;&gt;
                    &lt;div class=&quot;col-sm-12&quot;&gt;
                      &lt;div class=&quot;abcom-container abcom-container--right&quot;&gt;
                        &lt;button type=&quot;button&quot; class=&quot;btn abcom-btn abcom-btn--default&quot;&gt;Cancel&lt;/button&gt;
                        &lt;button type=&quot;submit&quot; class=&quot;btn abcom-btn abcom-btn--default&quot;&gt;Submit&lt;/button&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;

&lt;/form&gt;</code></pre>

<a href="exp-cms-management-company-form.html" target="_blank" class="btn abcom-btn abcom-btn--cool">View Company Profile Add / Edit Page</a>