<h3>Workspace Main Page</h3>
<p>Acces level: <b>All</b></p>
<p>This page is similar to Services Management, except that this only displays the service requests personalized/assigned to a specific user.</p>
<p>Please refer to <code>Services Management</code> page above for further details.</p>