<h3>Setup Access Rights</h3>
<p>Acces level: <b>All</b></p>
<div class="panel panel-default">
	<div class="panel-body">

		<form action="" class="form-horizontal">
			<table border="1" class="abcom-setup__access abcom-form--hasmargin" width="100%">
				<thead>
					<tr>
						<th rowspan="2">Modules</th>
						<th colspan="5">Access Level / Permission per User Type</th>
					</tr>
					<tr>
						<th class="abcom-setup__access__role">Endorser</th>
						<th class="abcom-setup__access__role">Approver</th>
						<th class="abcom-setup__access__role">Paralegal</th>
						<th class="abcom-setup__access__role">Lawyer</th>
						<th class="abcom-setup__access__role">Administrator <div><small>(All Access)</small></div></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="abcom-setup__access__label">Login</td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
					</tr>
					<tr>
						<td class="abcom-setup__access__label">Forgot Password</td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
					</tr>
					<tr>
						<td class="abcom-setup__access__label">Dashboard</td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
					</tr>
					<tr>
						<td class="abcom-setup__access__label" colspan="6">Profile Account</td>
					</tr>
					<tr>
						<td>View</td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
					</tr>
					<tr>
						<td>Edit</td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
					</tr>
					<tr>
						<td class="abcom-setup__access__label" colspan="6">Services Management</td>
					</tr>
					<tr>
						<td>View, Sort, Filter, Search List</td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
					</tr>
					<tr>
						<td>View Request</td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
					</tr>
					<tr>
						<td>Download Request</td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
					</tr>
					<tr>
						<td>Download Supporting Documents</td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
					</tr>
					<tr>
						<td>Upload Documents</td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
					</tr>
					<tr>
						<td>Revise Request</td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
					</tr>
					<tr>
						<td>Customize Request</td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
					</tr>
					<tr>
						<td class="abcom-setup__access__label" colspan="6">Change Status</td>
					</tr>
					<tr>
						<td>Endorse / Disapprove</td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
					</tr>
					<tr>
						<td>Approve / Disapprove</td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
					</tr>
					<tr>
						<td>Completed</td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
					</tr>
					<tr>
						<td class="abcom-setup__access__label" colspan="6">Workspace</td>
					</tr>
					<tr>
						<td></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
						<td><input type="checkbox" name="" id=""></td>
					</tr>
				</tbody>
			</table>

			<div class="abcom-container abcom-container--right">
	            <button type="submit" class="btn abcom-btn abcom-btn--default">Update</button>
	        </div>
		</form>

	</div>
</div>

<p>Insert this code inside the <code>main-content__main</code> section.</p>

<pre class="yondu__code"><code>&lt;form action=&quot;&quot; class=&quot;form-horizontal&quot;&gt;
  &lt;table border=&quot;1&quot; class=&quot;abcom-setup__access abcom-form--hasmargin&quot; width=&quot;100%&quot;&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th rowspan=&quot;2&quot;&gt;Modules&lt;/th&gt;
        &lt;th colspan=&quot;5&quot;&gt;Access Level / Permission per User Type&lt;/th&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th class=&quot;abcom-setup__access__role&quot;&gt;Endorser&lt;/th&gt;
        &lt;th class=&quot;abcom-setup__access__role&quot;&gt;Approver&lt;/th&gt;
        &lt;th class=&quot;abcom-setup__access__role&quot;&gt;Paralegal&lt;/th&gt;
        &lt;th class=&quot;abcom-setup__access__role&quot;&gt;Lawyer&lt;/th&gt;
        &lt;th class=&quot;abcom-setup__access__role&quot;&gt;Administrator &lt;div&gt;&lt;small&gt;(All Access)&lt;/small&gt;&lt;/div&gt;&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td class=&quot;abcom-setup__access__label&quot;&gt;Login&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td class=&quot;abcom-setup__access__label&quot;&gt;Forgot Password&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td class=&quot;abcom-setup__access__label&quot;&gt;Dashboard&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td class=&quot;abcom-setup__access__label&quot; colspan=&quot;6&quot;&gt;Profile Account&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;View&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;Edit&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td class=&quot;abcom-setup__access__label&quot; colspan=&quot;6&quot;&gt;Services Management&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;View, Sort, Filter, Search List&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;View Request&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;Download Request&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;Download Supporting Documents&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;Upload Documents&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;Revise Request&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;Customize Request&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td class=&quot;abcom-setup__access__label&quot; colspan=&quot;6&quot;&gt;Change Status&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;Endorse / Disapprove&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;Approve / Disapprove&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;Completed&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td class=&quot;abcom-setup__access__label&quot; colspan=&quot;6&quot;&gt;Workspace&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;&quot;&gt;&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;

  &lt;div class=&quot;abcom-container abcom-container--right&quot;&gt;
          &lt;button type=&quot;submit&quot; class=&quot;btn abcom-btn abcom-btn--default&quot;&gt;Update&lt;/button&gt;
      &lt;/div&gt;
&lt;/form&gt;</code></pre>

<a href="exp-cms-setup-access.html" target="_blank" class="btn abcom-btn abcom-btn--cool">View Access Rights Page</a>