<h3>Home Page</h3>
<p>This module shall display upon clicking the Home / Dashboard menu.</p>
<p>User shall be able to view (by everyone) count of all requests and their status, which are:</p>
<p>User shall be directed to Services Management Page, upon clicking each link</p>
<p>Data to be displayed is based on Daily Count.</p>
<a href="exp-cms-dashboard.html" target="_blank" class="btn abcom-btn abcom-btn--cool">View Demo</a>
<p>To create this page, you should use the full page layout of our project.</p>
<p>Find this inside the code:</p>