<div class="row">
	<div class="col-sm-6 col-xs-12 text-align--left"><p class="footer__text">&#169; 2016 Aboitiz Equity Ventures. All rights reserved.</p></div>
	<div class="col-sm-6 col-xs-12 text-align--right"><p class="footer__text">Powered by <b class="footer__provider">YONDU</b></p></div>
</div>