<div class="container-fluid yondu__reusables">
	<div class="row">
		<div class="col-sm-2">
			<div class="yondu__sidepanel affix" data-spy="affix" data-offset-top="70" data-offset-bottom="40">
				<h4>Quick Links</h4>
				<div id="yondu__quicklinks" role="tablist" class="panel-group">
					<div class="panel">
						<a href="#yondu__mgt0" data-toggle="collapse" aria-expanded="true" data-parent="#yondu__quicklinks" class="yondu__navlink"><b>Dashboard</b></a>
						<div class="panel panel-collapse collapse in" id="yondu__mgt0" role="tabpanel">
							<a href="javascript:;" data-href="#abcom-dashboard" class="yondu__navlist">Home</a>
						</div>
					</div>
					<div class="panel">					
						<a href="#yondu__mgt1" data-toggle="collapse" aria-expanded="true" data-parent="#yondu__quicklinks" class="yondu__navlink"><b>Management</b></a>
						<div class="panel panel-collapse collapse" id="yondu__mgt1" role="tabpanel">
							<a href="javascript:;" data-href="#abcom-management__sidepanel" class="yondu__navlist">Services</a>
							<a href="javascript:;" data-href="#abcom-management__status__sidepanel" class="yondu__navlist">Request Status</a>
							<a href="javascript:;" data-href="#abcom-management__workspace__sidepanel" class="yondu__navlist">Workspace</a>
							<a href="javascript:;" data-href="#abcom-management__survey__sidepanel" class="yondu__navlist">Survey</a>
							<a href="javascript:;" data-href="#abcom-management__user__sidepanel" class="yondu__navlist">User Profile</a>
							<a href="javascript:;" data-href="#abcom-management__company__sidepanel" class="yondu__navlist">Company Profile</a>
						</div>
					</div>
					
					<div class="panel">
						<a href="#yondu__mgt2" data-toggle="collapse" aria-expanded="false" data-parent="#yondu__quicklinks" class="yondu__navlink"><b>Templates</b></a>
						<div class="panel panel-collapse collapse" id="yondu__mgt2" role="tabpanel">
							<a href="javascript:;" data-href="#abcom-templates__mom__sidepanel" class="yondu__navlist">Minutes of the Meeting</a>
							<a href="javascript:;" data-href="#abcom-templates__forms__sidepanel" class="yondu__navlist">Forms</a>
							<a href="javascript:;" data-href="#abcom-templates__survey__sidepanel" class="yondu__navlist">Surveys</a>
							<a href="javascript:;" data-href="#abcom-templates__email__sidepanel" class="yondu__navlist">Email Messages</a>
						</div>
					</div>
					
					<div class="panel">
						<a href="#yondu__mgt3" data-toggle="collapse" aria-expanded="false" data-parent="#yondu__quicklinks" class="yondu__navlink"><b>Requestor's Page</b></a>
						<div class="panel panel-collapse collapse" id="yondu__mgt3" role="tabpanel">
							<a href="javascript:;" data-href="#abcom-setup__about__sidepanel" class="yondu__navlist">About Us</a>
							<a href="javascript:;" data-href="#abcom-setup__contact__sidepanel" class="yondu__navlist">Contact Us</a>
						</div>
					</div>
					
					<div class="panel">
						<a href="#yondu__mgt4" data-toggle="collapse" aria-expanded="false" data-parent="#yondu__quicklinks" class="yondu__navlink"><b>Setup</b></a>
						<div class="panel panel-collapse collapse" id="yondu__mgt4" role="tabpanel">
							<a href="javascript:;" data-href="#abcom-setup__access__sidepanel" class="yondu__navlist">Access Matrix</a>
							<a href="javascript:;" data-href="#abcom-setup__holidays__sidepanel" class="yondu__navlist">Holidays</a>
						</div>
					</div>
					
					<div class="panel">
						<a href="#yondu__mgt5" data-toggle="collapse" aria-expanded="false" data-parent="#yondu__quicklinks" class="yondu__navlink"><b>Reports</b></a>
						<div class="panel panel-collapse collapse" id="yondu__mgt5" role="tabpanel">
							<a href="javascript:;" data-href="#abcom-reports__audit__sidepanel" class="yondu__navlist">Audit Trail</a>
							<a href="javascript:;" data-href="#abcom-reports__requests__sidepanel" class="yondu__navlist">Requests</a>
							<a href="javascript:;" data-href="#abcom-reports__companies__sidepanel" class="yondu__navlist">Companies</a>
							<a href="javascript:;" data-href="#abcom-reports__officers__sidepanel" class="yondu__navlist">Directors &amp; Officers</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-10">
			<div class="panel panel-default">
				<div class="panel-body">
					<h2>Page Specific Components</h2>
					<hr>
					<h2>Dashboard</h2>
					<div id="abcom-dashboard"></div>
					<hr>
					<!-- MANAGEMENT PAGE -->
					<h2>Management</h2>
					<div id="abcom-management__sidepanel"></div>
					<hr>
					<div id="abcom-management__services"></div>
					<hr>
					<div id="abcom-management__services__form"></div>
					<hr>
					<div id="abcom-management__status__sidepanel"></div>
					<hr>
					<div id="abcom-management__status"></div>
					<hr>
					<div id="abcom-management__workspace__sidepanel"></div>
					<hr>
					<div id="abcom-management__workspace"></div>
					<hr>
					<div id="abcom-management__workspace__mom"></div>
					<hr>
					<div id="abcom-management__workspace__mom__form"></div>
					<hr>
					<div id="abcom-management__workspace__documents"></div>
					<hr>
					<div id="abcom-management__survey__sidepanel"></div>
					<hr>
					<div id="abcom-management__survey"></div>
					<hr>
					<div id="abcom-management__user__sidepanel"></div>
					<hr>
					<div id="abcom-management__user"></div>
					<hr>
					<div id="abcom-management__user__form"></div>
					<hr>
					<div id="abcom-management__company__sidepanel"></div>
					<hr>
					<div id="abcom-management__company"></div>
					<hr>
					<div id="abcom-management__company__form"></div>
						
					{{!-- TEMPLATES SECTION --}}
					<hr>
					<hr>
					<h2>Templates</h2>
					<div id="abcom-templates__mom__sidepanel"></div>
					<hr>
					<div id="abcom-templates__mom"></div>
					<hr>
					<div id="abcom-templates__forms__sidepanel"></div>
					<hr>
					<div id="abcom-templates__forms"></div>
					<hr>
					<div id="abcom-templates__survey__sidepanel"></div>
					<hr>
					<div id="abcom-templates__survey"></div>
					<hr>
					<div id="abcom-templates__email__sidepanel"></div>
					<hr>
					<div id="abcom-templates__email"></div>

					{{!-- SETUP SECTION --}}
					<hr>
					<hr>
					<h2>Setup</h2>
					<div id="abcom-setup__about__sidepanel"></div>
					<hr>
					<div id="abcom-setup__about"></div>
					<hr>
					<div id="abcom-setup__contact__sidepanel"></div>
					<hr>
					<div id="abcom-setup__contact"></div>
					<hr>
					<div id="abcom-setup__holidays__sidepanel"></div>
					<hr>
					<div id="abcom-setup__holidays"></div>
					<hr>
					<div id="abcom-setup__access__sidepanel"></div>
					<hr>
					<div id="abcom-setup__access"></div>
					

					{{!-- REPORTS SECTION --}}
					<hr>
					<hr>
					<h2>Reports</h2>
					<div id="abcom-reports__audit__sidepanel"></div>
					<hr>
					<div id="abcom-reports__audit"></div>
					<hr>
					<div id="abcom-reports__requests__sidepanel"></div>
					<hr>
					<div id="abcom-reports__requests"></div>
					<hr>
					<div id="abcom-reports__companies__sidepanel"></div>
					<hr>
					<div id="abcom-reports__companies"></div>
					<hr>
					<div id="abcom-reports__officers__sidepanel"></div>
					<hr>
					<div id="abcom-reports__officers"></div>
<script>
$('#abcom-dashboard').html(App.Templates['specifics/abcom-dashboard']());
$('#abcom-management__sidepanel').html(App.Templates['specifics/abcom-management__sidepanel']());
$('#abcom-management__services').html(App.Templates['specifics/abcom-management__services']());
$('#abcom-management__services__form').html(App.Templates['specifics/abcom-management__services__form']());
$('#abcom-management__status__sidepanel').html(App.Templates['specifics/abcom-management__status__sidepanel']());
$('#abcom-management__status').html(App.Templates['specifics/abcom-management__status']());
$('#abcom-management__workspace').html(App.Templates['specifics/abcom-management__workspace']());
$('#abcom-management__workspace__sidepanel').html(App.Templates['specifics/abcom-management__workspace__sidepanel']());
$('#abcom-management__workspace__mom').html(App.Templates['specifics/abcom-management__workspace__mom']());
$('#abcom-management__workspace__mom__form').html(App.Templates['specifics/abcom-management__workspace__mom__form']());
$('#abcom-management__workspace__documents').html(App.Templates['specifics/abcom-management__workspace__documents']());
$('#abcom-management__survey__sidepanel').html(App.Templates['specifics/abcom-management__survey__sidepanel']());
$('#abcom-management__survey').html(App.Templates['specifics/abcom-management__survey']());
$('#abcom-management__user__sidepanel').html(App.Templates['specifics/abcom-management__user__sidepanel']());
$('#abcom-management__user').html(App.Templates['specifics/abcom-management__user']());
$('#abcom-management__user__form').html(App.Templates['specifics/abcom-management__user__form']());
$('#abcom-management__company__sidepanel').html(App.Templates['specifics/abcom-management__company__sidepanel']());
$('#abcom-management__company').html(App.Templates['specifics/abcom-management__company']());
$('#abcom-management__company__form').html(App.Templates['specifics/abcom-management__company__form']());

// TEMPLATES SECTION
$('#abcom-templates__mom__sidepanel').html(App.Templates['specifics/abcom-templates__mom__sidepanel']());
$('#abcom-templates__mom').html(App.Templates['specifics/abcom-templates__mom']());
$('#abcom-templates__forms__sidepanel').html(App.Templates['specifics/abcom-templates__forms__sidepanel']());
$('#abcom-templates__forms').html(App.Templates['specifics/abcom-templates__forms']());
$('#abcom-templates__survey__sidepanel').html(App.Templates['specifics/abcom-templates__survey__sidepanel']());
$('#abcom-templates__survey').html(App.Templates['specifics/abcom-templates__survey']());
$('#abcom-templates__email__sidepanel').html(App.Templates['specifics/abcom-templates__email__sidepanel']());
$('#abcom-templates__email').html(App.Templates['specifics/abcom-templates__email']());


// SETUP SECTION
$('#abcom-setup__holidays__sidepanel').html(App.Templates['specifics/abcom-setup__holidays__sidepanel']());
$('#abcom-setup__holidays').html(App.Templates['specifics/abcom-setup__holidays']());
$('#abcom-setup__contact__sidepanel').html(App.Templates['specifics/abcom-setup__contact__sidepanel']());
$('#abcom-setup__contact').html(App.Templates['specifics/abcom-setup__contact']());
$('#abcom-setup__about__sidepanel').html(App.Templates['specifics/abcom-setup__about__sidepanel']());
$('#abcom-setup__about').html(App.Templates['specifics/abcom-setup__about']());
$('#abcom-setup__access__sidepanel').html(App.Templates['specifics/abcom-setup__access__sidepanel']());
$('#abcom-setup__access').html(App.Templates['specifics/abcom-setup__access']());

// REPORTS SECTION
$('#abcom-reports__audit__sidepanel').html(App.Templates['specifics/abcom-reports__audit__sidepanel']());
$('#abcom-reports__audit').html(App.Templates['specifics/abcom-reports__audit']());
$('#abcom-reports__requests__sidepanel').html(App.Templates['specifics/abcom-reports__requests__sidepanel']());
$('#abcom-reports__requests').html(App.Templates['specifics/abcom-reports__requests']());
$('#abcom-reports__companies__sidepanel').html(App.Templates['specifics/abcom-reports__companies__sidepanel']());
$('#abcom-reports__companies').html(App.Templates['specifics/abcom-reports__companies']());
$('#abcom-reports__officers__sidepanel').html(App.Templates['specifics/abcom-reports__officers__sidepanel']());
$('#abcom-reports__officers').html(App.Templates['specifics/abcom-reports__officers']());

</script>

				</div> <!-- // end : panel body -->

			</div>
		</div>
	</div>
</div>