<div class="container-fluid yondu__templates">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<h1>Templates</h1>
					<h3>Sign in Page</h3>
					<p>Aboitiz Legal Sign in page template.</p>
					<div class="panel panel-default">
						<div class="panel-body">
							<img class="yondu__image" src="assets/images/01-login.jpg">
						</div>
						<div class="panel-footer">
							<a href="signin.html" target="_blank" class="btn btn-default btn-primary">View Demo</a>
						</div>
					</div>

					<hr>

					<h3>Full Page Layout</h3>
					<p>Aboitiz Legal full page layout template that occupies the whole width of the screen.</p>
					<div class="panel panel-default">
						<div class="panel-body">
							<img class="yondu__image" src="assets/images/02-fullpage.jpg">
						</div>
						<div class="panel-footer">
							<a href="layout-full.html" target="_blank" class="btn btn-default btn-primary">View Demo</a>
						</div>
					</div>

					<hr>
			
					<h3>Page Layout with Sidebar</h3>
					<p>Aboitiz Legal page layout template that includes a sidebar for sub navigation.</p>
					<div class="panel panel-default">
						<div class="panel-body">
							<img class="yondu__image" src="assets/images/03-sidebarpage.jpg">
						</div>
						<div class="panel-footer">
							<a href="layout-sidebar.html" target="_blank" class="btn btn-default btn-primary">View Demo</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>